<docs>
	資料請求一覧を表示するVueコンポーネントです。

	Child Componentの SearchFormの変更を検知して、データ一覧がリアクティブに更新されます。

	特定のユーザーレコードをクリックすると、Detailコンポーネントにそのユーザーデータが
	Vuex経由で引き渡され、編集・閲覧が可能になります。

	送付完了ボタンを押すと、特定ユーザーのreact_dateを更新するようのカレンダーComponentが開かれます。
	複数選択の場合は、Child ComponentのSearch Form側でイベントを検知し
	カスタムイベントを伝って、このComponent側で対象のチェックボックス:checkedを検知し
	カレンダーComponentが開かれます。
</docs>

<template lang="pug">
	.p-brochure.p-list
		form.p-list__header(:action="bulk_update_api_url" method="post")
			input(type="hidden"  name="_token"  :value="csrf")
			input(type="hidden"  name="method"  value="put")
			h2.p-list__header-title 資料送付状況
			SearchForm(
				:counts="fetch_option.max_count"
				:condition.sync="condition"
				:freeword.sync="freeword"
				@submit="fetchUserDataWithKeyword"
				@bulkUpdateReactedDate="bulkUpdateReactedDate"
				@isCheckedAtLeastOne="getBulkUpdateUsers"
				@print="openPrompt")
		.p-list__table
			table
				thead.p-list__table-head
					tr(v-if="user_records.length === 0")
						th.p-list__table-col 資料送付状況一覧
					tr(v-else).p-list__table-row
						th.p-list__table-col(data-colname="bulk-checkbox")
						th.p-list__table-col(data-colname="entry-type" v-if="showable_columns.includes('entry_type')") 種別
						th.p-list__table-col(data-colname="entry-date" v-if="showable_columns.includes('entry_date')") エントリー日時
						th.p-list__table-col(data-colname="user-name" v-if="showable_columns.includes('name')") 氏名
						th.p-list__table-col(data-colname="user-kana" v-if="showable_columns.includes('kana')") フリガナ
						th.p-list__table-col(data-colname="user-mail" v-if="showable_columns.includes('email')") メールアドレス
						th.p-list__table-col(data-colname="user-occupation" v-if="showable_columns.includes('occupation')") 職業
						th.p-list__table-col(data-colname="user-tel" v-if="showable_columns.includes('tel')") 電話番号
						th.p-list__table-col(data-colname="user-zipcode" v-if="showable_columns.includes('zipcode')") 郵便番号
						th.p-list__table-col(data-colname="user-address" v-if="showable_columns.includes('address')") 住所
						th.p-list__table-col(data-colname="licence-type" v-if="showable_columns.includes('licence_type')") 免許種類
						th.p-list__table-col(data-colname="general" v-if="showable_columns.includes('general1')") {{ general_map['general1']}}
						th.p-list__table-col(data-colname="react-date" v-if="showable_columns.includes('react_date')") 対応日
						th.p-list__table-col(data-colname="react-interval") 対応日数
						th.p-list__table-col(data-colname="react-status" v-if="showable_columns.includes('react_status')") 状況
						th.p-list__table-col(data-colname="detail") 詳細
				tbody.p-list__table-body
					tr(v-if="user_records.length === 0")
						td.p-list__table-col 対象のエントリーはありません。
					template(v-else)
						tr(v-for="user in user_records"  :class="['is-'+ user.react_status]"  :data-userid="user.id").p-list__table-row
							td.p-list__table-col(data-colname="bulk-checkbox")
								label.u-db.u-posrel(v-if="user.react_status === 'ongoing'")
									input.c-ui__checkbox(type="checkbox"  :data-userid="user.id")
									span.c-ui__checkboxIcon
							td.p-list__table-col(data-colname="entry-type" v-if="showable_columns.includes('entry_type')") {{ entry_types_map[user.entry_type] }}
							td.p-list__table-col(data-colname="entry-date" v-if="showable_columns.includes('entry_date')") {{ formatEntryDate(user.entry_date) }}
							td.p-list__table-col(data-colname="user-name" v-if="showable_columns.includes('name')")
								a(@click.prevent="toggleDetailBox(user)") {{ user.name }}
							td.p-list__table-col(data-colname="user-kana" v-if="showable_columns.includes('kana')") {{ user.kana }}
							td.p-list__table-col(data-colname="user-mail" v-if="showable_columns.includes('email')") {{ user.email }}
							td.p-list__table-col(data-colname="user-occupation" v-if="showable_columns.includes('occupation')") {{ user.occupation }}
							td.p-list__table-col(data-colname="user-tel" v-if="showable_columns.includes('tel')") {{ user.tel }}
							td.p-list__table-col(data-colname="user-zipcode" v-if="showable_columns.includes('zipcode')") {{ user.zipcode }}
							td.p-list__table-col(data-colname="user-address" v-if="showable_columns.includes('address')") {{ setAddress(user) }}
							td.p-list__table-col(data-colname="licence-type" v-if="showable_columns.includes('licence_type')") {{ licence_types_map[user.licence_type] }}
							td.p-list__table-col(data-colname="general" v-if="showable_columns.includes('general1')") {{ user.general1 }}
							template(v-if="showable_columns.includes('react_date')")
								td.p-list__table-col(data-colname="react-date" v-if="user.react_status === 'ongoing'")
									button.c-ui__basicbutton(:data-userid="user.id" @click.prevent="openCalendar($event)") 送付完了
									.c-ui__calendar.is-popup(:data-userid="user.id")
										DatePicker(:inline="true"  language="ja"  :format="format")
										.c-ui__calendar-footer
											button.c-ui__calendar-btn(	
												data-btn-type="ensure"
												:data-userid="user.id"
												@click.prevent="updateReactedDate($event)") 確定
											button.c-ui__calendar-btn(
												data-btn-type="cancel"
												@click.prevent="closeCalendar") キャンセル
											label.c-ui__calendar-label
												input.c-ui__checkbox(type="checkbox" v-model="disable_auto_send")
												span.u-posrel.c-ui__checkboxIcon 自動送信メールを送らない
								td.p-list__table-col(data-colname="react-date" v-else)
									span {{ user.react_date }} 
							td.p-list__table-col(data-colname="react-interval" v-html="getIntervalSinceEntry(user)")
							td.p-list__table-col(data-colname="react-status" v-if="showable_columns.includes('react_status')") {{ status_types_map[user.react_status] }}
							td.p-list__table-col(data-colname="detail") 
								button.c-ui__basicbutton(@click.prevent="toggleDetailBox(user)") 詳しく見る
		Detail(@refreshUserData="refreshUserData"  @refreshMultiUsersData="refreshMultiUsersData")
		CreateUser
		.c-ui__overlay(v-show="alert_is_opening")
			.c-alert-box
				p.c-alert-box__content {{ alert_text }}
				.u-m-auto.c-ui__flatbutton(data-btn-type="btn-ok" data-button="primary" @click.stop="closeAlert") OK
		.c-ui__overlay(v-show="prompt_is_opening")
			.c-alert-box(style="width: 320px;")
				.c-ui__radio(style="padding: 5px;")
					label.u-row
						input(type="radio" id="small" name="print" checked)
						span.c-ui__radioIcon
						|窓枠付き封筒（A4）
				.c-ui__radio(style="padding: 5px;")
					label.u-row
						input(type="radio" id="regular" name="print")
						span.c-ui__radioIcon
						|封筒貼り付けラベル
				.u-flex
					.u-m-auto.c-ui__flatbutton(data-btn-type="btn-ok" data-button="primary" @click="handlePrint" style="margin:10px auto 15px;") OK
					.u-m-auto.c-ui__flatbutton(data-btn-type="btn-ok" data-button="gray" @click="closePrompt" style="margin:10px auto 15px;") キャンセル
				p.c-alert-box__content ＊郵便番号、住所、氏名が未取得の場合は、当該箇所のみ印刷対象外となりますのでご注意ください。
</template>

<script>
	// Vue Component
	import SearchForm from './partial/brochure-list/SearchForm'
	import CreateUser from '../common/CreateUser'
	import Detail from '../common/Detail'
	import DatePicker from 'vuejs-datepicker'

	// 3rd Party Lib
	const moment = require('moment')

	/**
	 * Mixin
	 *
	 * view_helper.js
	 *     - setAddress
	 *     - formatEntryDate
	 *     - getIntervalSinceEntry
	 *
	 * common_static_propety.js
	 *     + csrf
	 *     + today (moment object)
	 *     + format
	 *
	 * common_dynamic_property.js
	 *     + entry_types_map
	 *     + licence_types_map
	 *     + status_types_map
	 *     + general_map
	 *
	 * common_api_request_methods
	 *     - fetchUserData
	 *     - fetchUserDataWithKeyword
	 *     - refreshUserData
	 *     - refreshMultiUsersData
	 *     - infiniteScroll
	 *
	 * common_event_handler_methods
	 *     - toggleDetailBox
	 *     - onScroll	 
	 *
	 */
	import view_helper from '../mixin/view_helper'
	import common_static_property from '../mixin/common_static_property'
	import common_dynamic_property from '../mixin/common_dynamic_property'
	import common_api_request_methods from '../mixin/common_api_request_methods'
	import common_event_handler_methods from '../mixin/common_event_handler_methods'

	export default {
		components : {
			SearchForm,
			CreateUser,
			Detail,
			DatePicker			
		},
		mixins : [view_helper,
				  common_static_property,
				  common_dynamic_property,
				  common_api_request_methods,
				  common_event_handler_methods],
		data(){
			return {				
				user_records : '',
				fetch_option : {
					api_url        : "/api/fetch-users-list",					
					fetch_length   : 50,    // １回の取得件数
					max_count      : "",    // Math.round( 検索総件数 / １回の取得件数 )
					counter        : 0,     // 現在何回目のrefetchか
					scroll_prevent : false, // scrollが最下部に到達するまで、refetch Ajaxを制御する（prevent）するためのデータプロパティ	
				},
				condition : {
					react_status   : "",
					entry_type     : "brochure",
					licence_type   : "",			
					need_no_action : false,					
				},
				freeword : "",              // フリーワードをconditionのプロパティにしてしまうと、入力中に検索が走ってしまうので、切り出し

				showable_columns  : [],

				bulk_update_api_url : "/api/bulk-update-user",
				update_api_url      : "/api/update-user",

				alert_text         : '',
				alert_is_opening   : false,
				prompt_is_opening  : false,

				current_open_calendar : "",
				disable_auto_send : false,
                
			}
		},
		watch : {
			condition : {
				handler : function(newValue){
					const condition = newValue;
					if(this.freeword) condition.freeword = this.freeword;

					this.fetchUserData(condition);
				},
				deep : true
			}			
		},
		methods : {
			/***************************************
			 * Vuex Method
			 **************************************/
			setCurrentUser(user){
				this.$store.commit('setCurrentUser',user);
			},
			setCurrentUserHistories(histories){
				this.$store.commit('setCurrentUserHistories',histories);
			},
			
			/***************************************
			 * API Request Method
			 **************************************/			
			getBulkUpdateUsers(){
				let checkedInputs = document.querySelectorAll('.p-list__table-row [data-colname="bulk-checkbox"] input:checked');

				checkedInputs = Array.prototype.slice.call(checkedInputs,0);

				return checkedInputs;
			},
			bulkUpdateReactedDate(params){
				const self = this;
				const checkedInputs = this.getBulkUpdateUsers();
				const target_ids = [];
				
				const date = params[0];				
				const disable_auto_send = params[1];
				
				for(let input of checkedInputs){
					target_ids.push(input.dataset.userid);
				}				

				if(!target_ids.length) return false;


				let valid = true;

				for(let id of target_ids){
					if(! valid) break;

					for(let obj of self.user_records){
						if(obj.id == id){
							const react_date = moment(date);
							const entry_date = moment(obj.entry_date);
							const diff = react_date.diff(entry_date,'days');							

							if(diff < 0){
								self.alert_text = "対応日に不備があります。\r\n選択しなおしてください。";
								self.openAlert();

								valid = false;
								break;
							}

						}	
					}
				}


				if(! valid) return false;


				axios.put(this.bulk_update_api_url,{
					params : {
						ids : target_ids,
						date : date,
						entry_type : 'brochure',
						react_status : 'reacted',
						disable_auto_send : disable_auto_send
					}
				}).then(res => {
					if(res.data.msg == 'updated'){
						self.alert_text = "選択したユーザーの対応日時を\r\n入力しました。";
					}else if(res.data.msg == 'failed'){
						self.alert_text = "選択したユーザーの対応日時の入力に\r\n失敗しました。";
					}

					self.closeCalendar();							
					self.refreshMultiUsersData(target_ids);
					self.openAlert();

					self.$store.commit('fetchTooltipCounter');
				});
			},
			updateReactedDate(event){
				const self = this;
				const userid = event.target.getAttribute('data-userid');
				const date = document.querySelector(`.c-ui__calendar.is-popup[data-userid="${userid}"] input[type="hidden"]`).value;
				let user = "";
								
				for(let obj of this.user_records){
					if(obj.id == userid){
						user = obj;
						break;
					}
				}

				if(date){
					const react_date = moment(date);
					const entry_date = moment(user.entry_date);
					const diff = react_date.diff(entry_date,'days');

					if(diff < 0){
						this.alert_text = "対応日に不備があります。\r\n選択しなおしてください。";
						this.openAlert();
						return false;
					}
					
				}else{
					this.alert_text = "日付を選択してください。";
					this.openAlert();
					return false;
				}

				axios.put(this.update_api_url,{
					params : {
						id : userid,
						react_date : date,
						entry_type : 'brochure',
						react_status : 'reacted',
						disable_auto_send : self.disable_auto_send ? 1 : 0
					}
				}).then(res => {
					if(res.data.msg == 'updated'){
						self.alert_text = "選択したユーザーの対応日時を\r\n入力しました。";
					}else if(res.data.msg == 'failed'){
						self.alert_text = "選択したユーザーの対応日時の入力に\r\n失敗しました。";
					}

					self.closeCalendar();							
					self.refreshUserData(userid);
					self.openAlert();

					self.$store.commit('fetchTooltipCounter');					
				})
			},

			/***************************************
			 * EventHandler
			 **************************************/
			/** Alert Handling **/
			openAlert(){
				this.alert_is_opening = true;
			},
			closeAlert(){
				this.alert_is_opening = false;
			},
			openPrompt(){
				this.prompt_is_opening = true;
			},
			closePrompt(){
				this.prompt_is_opening = false;
			},

			/** Calendar Handling **/			
			openCalendar(event){
				if(this.current_open_calendar) this.closeCalendar();
				
				event.target.nextSibling.style.display = "block";
				event.target.nextSibling.classList.add('is-open');
				const calendar_id = event.target.getAttribute('data-userid');

				this.current_open_calendar = calendar_id;
			},
			closeCalendar(){
				if(this.disable_auto_send) this.disable_auto_send = false;

				if(this.current_open_calendar){
					document.querySelector(`.c-ui__calendar.is-popup[data-userid="${this.current_open_calendar}"]`).style.display = "none";
					document.querySelector(`.c-ui__calendar.is-popup[data-userid="${this.current_open_calendar}"]`).classList.remove('is-open');
				}
				this.current_open_calendar = "";
			},

			// print
			handlePrint(){
				const type = document.querySelector('input[name="print"]:checked').id;

				this.closePrompt();

				if(type){
					
					const targets       = this.getBulkUpdateUsers();
		            const target_ids    = [];

		            for(let target of targets){
		            	target_ids.push(target.dataset.userid);
		            }					

					if(!target_ids.length) return false;

					this.$emit('printForMultiUsers',[target_ids,type]);

				}else{

					return false;

				}
			},			
		},			
		created(){
			const self = this;

			axios.get('/api/fetch-showable-columns',{
				params : {
					page : 'brochure'
				}
			}).then(res => {
				self.showable_columns = res.data;
			});			
		},		
	}
</script>