<docs>
	`NavBar.vue`の日付変更をwatcherで検知して、dashboard上で表示するべきデータをAPIで取得します。
	`Monitor.vue`,`StuckBarChart.vue`,`BarChart.vue`,`GoogleMap.vue`それぞれにデータを受け渡します。
</docs>

<template lang="pug">
	.p-dashboard
		NavBar.is-no-print(
			:dates.sync="dates")
		Monitor.is-no-print(
			:counts="summary.counts"  
			:entry_types="entry_types")
		StuckBarChart.is-no-print(
			:stuck_bar_chart="summary.stuck_bar_chart"  
			:dates="dates"  
			:select_tag_list_for_canvas="select_tag_list_for_canvas")
		GoogleMap(
			:prop_school_geo="summary.school_geo"  
			:prop_user_geodatas="summary.user_geodatas"			
			:entry_types="entry_types")
		BarChart.is-no-print(
			:school="summary.school"  
			:channel="summary.channel"  
			:area="summary.area"  
			:counts="summary.counts"  
			:select_tag_list="select_tag_list"  
			:dates="dates")
		CreateUser.is-no-print
		.c-ui__overlay(v-show="open_alert")
			.c-alert-box
				p.c-alert-box__content {{ alert_text }}
				.u-m-auto.c-ui__flatbutton(data-btn-type="btn-ok" data-button="primary" @click.stop="closeAlert") OK
</template>

<script>
	// Vue Component
	import NavBar from './partial/dashboard/NavBar'
	import Monitor from './partial/dashboard/Monitor'
	import StuckBarChart from './partial/dashboard/StuckBarChart'
	import BarChart from './partial/dashboard/BarChart'
	import GoogleMap from './partial/dashboard/GoogleMap'
	import CreateUser from '../common/CreateUser'

	// 3rd Pary Library
	const moment = require('moment')

	export default {
		components : {
			NavBar,
			Monitor,
			StuckBarChart,
			BarChart,
			GoogleMap,
			CreateUser
		},
		data(){
			return{
				/**				 
				 * NavBar.vue data		 
				 */
				dates : {
					start_date : moment().subtract(180,'days').format('YYYY-MM-01'),
					end_date   : moment().format('YYYY-MM-DD'),
				},
				entry_types : {},
				select_tag_list : {},
				select_tag_list_for_canvas : {},
				summary : {
					/**
		             * Monitor.vue data
		             */
					counts : {
						entry : {						
							total : '',							
						},				
						entering : '0',		
					},
					/**
					 * StuckBarChart.vue data
					 */
					stuck_bar_chart : {},
					/**
		             * BarChart.vue data
		             */
					school : {},					
					channel : {},
					area : {},
					/**
					 * GoogleMap
					 */
					school_geo : {},
					user_geodatas : {},
				},
				alert_text : "",
				open_alert : false,
			}
		},
		watch : {
			dates : {
				handler : function(newValue){					
					this.fetchDashboardData('counts');
					this.fetchDashboardData('stuck_bar_chart');
					this.fetchDashboardData('school');
					this.fetchDashboardData('channel');
					this.fetchDashboardData('school_geo');
					this.fetchDashboardData('user_geodatas');
					this.fetchDashboardData('area');
				},
				deep : true
			}
		},
		methods : {
			/***************************************
			 * API Request Method
			 **************************************/
			fetchDashboardData(keyname){
				const self = this;

				const sd = moment(self.dates.start_date);
				const ed = moment(self.dates.end_date);

				if(ed.diff(sd) < 0){
					self.alert_text = "対象期間に不備があります。\r\n選択しなおしてください。";
					self.openAlert();
					return;
				}


				axios.get('/api/fetch-dashboard-data',{
					params : {
						start_date : this.dates.start_date,
						end_date   : this.dates.end_date,
						key        : keyname
					}
				}).then(res => {					
					switch(res.data.key){
						case 'entry_types':

							const entry_types              = res.data.content;
							const select_tag_list          = [];
							
							/**
							 * 下記についてはセレクトタグのdefault値   <select selected>　なので
							 * Vue.jsではpresetのselectタグはvalueを空にするため、作らないでおく
							 *
							 * const select_tag_list         = [{en_name : 'web_entry', jp_name: 'WEBエントリー'}];
							 */
							$.each(entry_types,(index,val_array) => {
								for(let key in val_array){							
									select_tag_list.push({en_name: key,jp_name: val_array[key]});							
								}
							});

							self.entry_types              = _.clone(select_tag_list);

							select_tag_list.push({en_name : 'entering_count_of_web_entry',jp_name : '入所数（WEBエントリー）'});

							$.each(entry_types,(index,val_array) => {
								for(let key in val_array){
									select_tag_list.push(
										{en_name : 'entering_count_of_' + key,jp_name : '入所数（' + val_array[key] + '）'}
									);
								}						
							});

							self.select_tag_list_for_canvas = _.clone(select_tag_list);

							select_tag_list.push({en_name : 'entering_rate_of_web_entry',jp_name : '入所率（WEBエントリー）'});

							$.each(entry_types,(index,val_array) => {
								for(let key in val_array){
									select_tag_list.push(
										{en_name : 'entering_rate_of_' + key,jp_name: '入所率（' + val_array[key] + '）'}
									);
								}						
							});

							self.select_tag_list            = select_tag_list;

							break;

						default:
							self.summary[keyname] = res.data.content;

							break;
					}
				})
			},
			/***************************************
			 * EventHandler
			 **************************************/
			/** Alert Handling **/
			openAlert(){
				this.open_alert = true;				
			},
			closeAlert(){
				this.open_alert = false;				
				this.alert_text = "";
			},			
		},
		mounted(){			
			this.fetchDashboardData('entry_types');
			this.fetchDashboardData('counts');
			this.fetchDashboardData('stuck_bar_chart');
			this.fetchDashboardData('school');
			this.fetchDashboardData('channel');
			this.fetchDashboardData('school_geo');
			this.fetchDashboardData('user_geodatas');
			this.fetchDashboardData('area');
		}
	}
</script>