<docs>
	エントリーデータ一覧を表示するVueコンポーネントです。

	Child Componentの SearchFormの変更を検知して、データ一覧がリアクティブに更新されます。

	特定のユーザーレコードをクリックすると、Detailコンポーネントにそのユーザーデータが
	Vuex経由で引き渡され、編集・閲覧が可能になります。
</docs>

<template lang="pug">
.p-entry.p-list
	.p-list__header
		h2.p-list__header-title エントリーデータ一覧
		SearchForm(
			:counts="fetch_option.max_count"
			:condition.sync="condition"
			:freeword.sync="freeword"
			@submit="fetchUserDataWithKeyword")
	.p-list__table
		table
			thead.p-list__table-head
				tr(v-if="user_records.length === 0")
					th.p-list__table-col エントリーデータ一覧
				tr(v-else).p-list__table-row
					th.p-list__table-col(data-colname="entry-type" v-if="showable_columns.includes('entry_type')") 種別
					th.p-list__table-col(data-colname="entry-date" v-if="showable_columns.includes('entry_date')") エントリー日時
					th.p-list__table-col(data-colname="user-name" v-if="showable_columns.includes('name')") 氏名
					th.p-list__table-col(data-colname="user-kana" v-if="showable_columns.includes('kana')") フリガナ
					th.p-list__table-col(data-colname="user-mail" v-if="showable_columns.includes('email')") メールアドレス
					th.p-list__table-col(data-colname="user-occupation" v-if="showable_columns.includes('occupation')") 職業
					th.p-list__table-col(data-colname="user-tel" v-if="showable_columns.includes('tel')") 電話番号
					th.p-list__table-col(data-colname="user-zipcode" v-if="showable_columns.includes('zipcode')") 郵便番号
					th.p-list__table-col(data-colname="user-address" v-if="showable_columns.includes('address')") 住所
					th.p-list__table-col(data-colname="licence-type" v-if="showable_columns.includes('licence_type')") 免許種類
					th.p-list__table-col(data-colname="general" v-if="showable_columns.includes('general1')") {{ general_map['general1']}}
					th.p-list__table-col(data-colname="react-date" v-if="showable_columns.includes('react_date')") 対応日
					th.p-list__table-col(data-colname="react-interval") 対応日数
					th.p-list__table-col(data-colname="react-status" v-if="showable_columns.includes('react_status')") 状況
					th.p-list__table-col(data-colname="detail") 詳細
			tbody.p-list__table-body
				tr(v-if="user_records.length === 0")
					td.p-list__table-col 対象のエントリーはありません。
				tr(v-for="user in user_records"  :data-userid="user.id" v-else).p-list__table-row
					td.p-list__table-col(data-colname="entry-type" v-if="showable_columns.includes('entry_type')") {{ entry_types_map[user.entry_type]}}
					td.p-list__table-col(data-colname="entry-date" v-if="showable_columns.includes('entry_date')") {{ formatEntryDate(user.entry_date) }}
					td.p-list__table-col(data-colname="user-name" v-if="showable_columns.includes('name')")
						a(@click.prevent="toggleDetailBox(user)") {{ user.name }}
					td.p-list__table-col(data-colname="user-kana" v-if="showable_columns.includes('kana')") {{ user.kana }}
					td.p-list__table-col(data-colname="user-mail" v-if="showable_columns.includes('email')") {{ user.email }}
					td.p-list__table-col(data-colname="user-occupation" v-if="showable_columns.includes('occupation')") {{ user.occupation }}
					td.p-list__table-col(data-colname="user-tel" v-if="showable_columns.includes('tel')") {{ user.tel }}
					td.p-list__table-col(data-colname="user-zipcode" v-if="showable_columns.includes('zipcode')") {{ user.zipcode }}
					td.p-list__table-col(data-colname="user-address" v-if="showable_columns.includes('address')") {{ setAddress(user) }}
					td.p-list__table-col(data-colname="licence-type" v-if="showable_columns.includes('licence_type')") {{ licence_types_map[user.licence_type] }}
					td.p-list__table-col(data-colname="general" v-if="showable_columns.includes('general1')") {{ user.general1 }}
					td.p-list__table-col(data-colname="react-date" v-if="showable_columns.includes('react_date')") {{ user.react_date }}
					td.p-list__table-col(data-colname="react-interval" v-html="getIntervalSinceEntry(user)")
					td.p-list__table-col(data-colname="react-status" v-if="showable_columns.includes('react_status')") {{ status_types_map[user.react_status] }}
					td.p-list__table-col(data-colname="detail")
						button.c-ui__basicbutton(@click.prevent="toggleDetailBox(user)") 詳しく見る
	Detail(@refreshUserData="refreshUserData"  @refreshMultiUsersData="refreshMultiUsersData")
	CreateUser
</template>

<script>
	// Vue Component
	import SearchForm from './partial/entry-list/SearchForm'
	import CreateUser from '../common/CreateUser'
	import Detail from '../common/Detail'

	// 3rd Party Lib
	const moment = require('moment')

	/**
	 * Mixin
	 *
	 * view_helper.js
	 *     - setAddress
	 *     - formatEntryDate
	 *     - getIntervalSinceEntry
	 *
	 * common_dynamic_property.js
	 *     + entry_types_map
	 *     + licence_types_map
	 *     + status_types_map
	 *     + general_map
	 *
	 * common_api_request_methods
	 *     - fetchUserData
	 *     - fetchUserDataWithKeyword
	 *     - refreshUserData
	 *     - refreshMultiUsersData
	 *     - infiniteScroll
	 *
	 * common_event_handler_methods
	 *     - toggleDetailBox
	 *     - onScroll	 
	 *
	 */
	import view_helper from '../mixin/view_helper'	
	import common_dynamic_property from '../mixin/common_dynamic_property'
	import common_api_request_methods from '../mixin/common_api_request_methods'
	import common_event_handler_methods from '../mixin/common_event_handler_methods'

	export default {
		components : {
			SearchForm,
			CreateUser,
			Detail
		},		
		mixins : [view_helper,
				  common_dynamic_property,
				  common_api_request_methods,
				  common_event_handler_methods],
		data(){
			return {
				user_records : '',
				fetch_option : {
					api_url        : "/api/fetch-users-list",
					fetch_length   : 50,    // １回の取得件数
					max_count      : "",    // Math.round( 検索総件数 / １回の取得件数 )
					counter        : 0,     // 現在何回目のrefetchか
					scroll_prevent : false, // scrollが最下部に到達するまで、refetch Ajaxを制御する（prevent）するためのデータプロパティ
				},
				condition : {
					react_status   : "",
					entry_type     : "",
					licence_type   : "",
					need_no_action : false
				},
				freeword : "",              // フリーワードをconditionのプロパティにしてしまうと、入力中に検索が走ってしまうので、切り出し

                showable_columns  : [],                
			}
		},
		watch : {
			condition : {
				handler : function(newValue){
					const condition = newValue;
					if(this.freeword) condition.freeword = this.freeword;

					this.fetchUserData(condition);
				},
				deep : true
			}			
		},
		methods : {
			/***************************************
			 * Vuex Method
			 **************************************/
			setCurrentUser(user){
				this.$store.commit('setCurrentUser',user);
			},
			setCurrentUserHistories(histories){
				this.$store.commit('setCurrentUserHistories',histories);
			},
		},
		created(){
			const self = this;

			axios.get('/api/fetch-showable-columns',{
				params : {
					page : 'entry'
				}
			}).then(res => {
				self.showable_columns = res.data;
			});
		},
	}
</script>