<docs>
wiki:File UploadをVueで作る場合

http://tech.aainc.co.jp/archives/10714
</docs>

<template lang="pug">
	.p-file-upload
		.p-file-upload__common-bg
			h1.p-file-upload__lead エントリーデータ CSV一括インポート
			span.p-file-upload__lead-meta * 所定のCSVフォーマットの必要事項を埋めて、以下よりファイルをアップロードしてください。
			a.p-file-upload__download-link(href="/crm/csv-download-import-fmt" target="_blank") CSVフォーマットのダウンロードはこちら
			form.p-file-upload__upload-box(action="/api/csv-upload-file" method="POST" enctype="multipart/form-data")
				div
					input(type="hidden"  name="_token"  :value="csrf")
					label.c-ui__basicbutton.c-ui__filebutton(style="color:#000;")
						|ファイルを選択					
						input(type="file" name="entry_data" @change="setFileName" style="display:none;" id="file")
					span(v-if="filename") {{ filename }} 
				template(v-if="filename && !waiting")
					button.c-ui__flatbutton(data-button="primary" @click.prevent="uploadFile") {{ button_text }}
				template(v-else-if="filename && waiting")
					//- 不要な多重APIリクエスト防止
					button.c-ui__flatbutton(data-button="primary" @click.prevent="uploadFile" disabled) {{ button_text }}
				template(v-else)
					button.c-ui__disabled-button(data-button="grey" type="submit" disabled) {{ button_text }}
		.c-ui__overlay(v-show="alert_is_opening")
			.c-alert-box
				p.c-alert-box__content {{ alert_text }}
				.u-m-auto.c-ui__flatbutton(data-btn-type="btn-ok" data-button="primary" @click.stop="closeAlert") OK
</template>

<script>
	export default {
		data(){
			return {
				csrf : window.Laravel.csrfToken,				
				filename : null,
				alert_is_opening : false,
				alert_text : null,
				waiting : false,
			}
		},
		computed : {
			button_text(){
				return this.waiting ? '登録中...' : '登録開始';
			}
		},
		methods : {			
			openAlert(){
				this.alert_is_opening = true;
			},
			closeAlert(){
				this.alert_is_opening = false;
				this.alert_text = null;
			},
			uploadFile(){
				const self = this;
				const params = new FormData();
				const file   = document.querySelector('input[name="entry_data"]');

				params.append('file',file.files[0]);

				this.waiting = true;

				axios.post('/api/csv-upload-file',params).then(res => {					
					self.alert_text = res.data.msg;
					self.waiting = false;
					self.openAlert();
				});
			},
			setFileName(){
				const input = document.getElementById('file');
				this.filename = input.files[0].name;
				return true;
			}
		}
	}
</script>

<style lang="scss">
.p-file-upload__upload-box span{
	font-size: 12px;
	margin-left: 20px;
}
</style>