<docs>
	ログインページです。

	APIでユーザー認証を行い、Vue Routerへ処理を返します。
	APIサーバーで認証を行うため、Cookieが利用できないので、認証・認可・期限情報をLocalStorageにセットします。
	セットされたLocalStorageは、期限についてはBootstrap.jsで、認証・認可についてはapp.js内のrouter.beforeEachで管理します。
</docs>

<template lang="pug">
	.p-login
		header
			.p-header
				h1.p-header__title
					img.p-header__logo(:src="image_path"  :alt="school_name" v-if="school_key")
		main
			.p-login-form
				.p-login-form__box
					.p-login-form__box-header
						h2 ログイン
					.p-login-form__box-body
						form
							input(type="hidden" name="_token"  :value="csrf")
							input(type="hidden" name="_method"  value="post")
							table.p-login-form__form-group
								tr
									th ID
									td
										input.c-ui__freeword(type="text" v-model="id" placeholder="IDを入力してください。"  @keyup.enter="login")
								tr
									th パスワード
									td
										input.c-ui__freeword(type="password" v-model="password" placeholder="パスワードを入力してください。"  @keyup.enter="login")
						.u-error_message(v-if="error") ID/パスワードが間違っています。入力し直してください。
						.p-login-form__submit-btn.c-ui__flatbutton(data-button="primary" @click="login") ログインする
		.c-ui__overlay(v-show="alert_is_opening")
			.c-alert-box
				p.c-alert-box__content {{ alert_text }}
				.u-m-auto.c-ui__flatbutton(data-btn-type="btn-ok" data-button="primary" @click="closeAlert") OK
</template>

<script>
	export default {		
		data(){
			return {
				csrf : window.Laravel.csrfToken,
				id : "",
				password : "",
				alert_text : "",
				alert_is_opening : false,
				error : false
			}
		},
		computed : {
			image_path(){
				return '/images/' + this.school_key + '_logo.png';
			},
			school_key(){
				return this.$store.state.school__key;				
			},
			school_name(){
				return this.$store.state.school_name;
			}
		},
		methods: {
			/***************************************
			 * API Request Method
			 **************************************/
			login(){
				if(this.error) this.error = false;

				const self = this;

				if(!this.id){
					this.alert_text = "IDを入力してください。";
					this.openAlert();
					return false;
				}

				if(!this.password){
					this.alert_text = "パスワードを入力してください。";
					this.openAlert();
					return false;
				}

				axios.post('/api/login',{
					params : {
						id : this.id,
						password : this.password
					}
				}).then(res => {

					switch(res.data.msg){
						case 'success':
							const current_time = Date.parse(new Date());


							window.localStorage.setItem('_auth',Date.now() * Math.floor(Math.random() * 10000)); // 乱数であればよし
							window.localStorage.setItem('crm_auth_role',JSON.stringify(res.data.roles));
							window.localStorage.setItem('_exp',current_time);

							this.$router.push('crm');
							break;
						case 'failed':
							self.error = true;
						default:
							break;
					}

				})
			},
			/***************************************
			 * EventHandler
			 **************************************/
			/** Alert Handling **/
			openAlert(){
				this.alert_is_opening = true;
			},
			closeAlert(){
				this.alert_is_opening = false;
			},
		}		
	}
</script>