<docs>
	メールテンプレート登録用のVueコンポーネント

	自動送信用メールテンプレートと、一般メール用テンプレートを登録可能。
</docs>

<template lang="pug">
	.p-template
		.p-template__header
			h2.p-template__header-title メールテンプレ管理
		.p-template__content
			//- DBに保存されているテンプレートの表示
			form(data-template-type="brochure")
				input(type="hidden" name="_token"  :value="csrf")
				input(type="hidden" name="_method" value="put")
				h3.c-headline.u-ttlbar 資料到着確認
				.c-ui__radio
					label.u-row
						input(
							type="radio" 
							name="auto_reply" 
							id="template_0"							
							:class="{'is-checked' : current_auto_template == 'template_0'}")
						span.c-ui__radioIcon
						|自動返信をしない				
				template(v-for="template in brochure.templates")
					.p-register-box
						table
							tr
								th 利用設定
								td
									.p-register-box__config
										.c-ui__radio
											label.u-row
												input(
													type="radio" 
													name="auto_reply"  
													:id="'template_' + template.id"  
													:data-template-name="template.template_name"
													:class="{'is-checked' : 'template_' + template.id == current_auto_template}")
												span.c-ui__radioIcon
												|このテンプレメールを自動送信する
										.c-ui__remove
											i.fa.fa-times-circle(
												:data-template-id="template.id"  
												:data-template-name="template.template_name"
												@click="openConfirm($event)")
							tr
								th テンプレート名
								td
									.p-register-box__name
										input.c-ui__freeword(type="text" v-model="template.template_name")
										span &nbsp;資料送付日から&nbsp;
										.c-ui__pulldown
											select(v-model="template.auto_sending_interval")
												option(v-for="n in 9"  :value="n") {{ n }}日後に
										span &nbsp;&nbsp;自動返信する
							tr
								th 件名
								td
									.p-register-box__mail-title
										input.c-ui__freeword(type="text" v-model="template.mail_title") 
							tr
								th 本文
								td
									.p-register-box__mail-content
										textarea.c-ui__textarea(v-model="template.mail_content")
						.p-register-box__button.u-jcfe
							button.c-ui__passive-btn.is-for-brochure(:data-template-id="'template_' + template.id" @click.prevent="onClickUpdateButton($event)") 変更内容を保存
			//- 新規登録ボタンを押した時のテンプレートひな形
			form(data-template-type="create_brochure")
				input(type="hidden" name="_token"  :value="csrf")
				input(type="hidden" name="_method" value="post")
				template(v-if="brochure.is_editing")
					.p-register-box
						table
							tr
								th 利用設定
								td
									.p-register-box__config
										.c-ui__radio.is-disabled
											label
												input(type="radio" name="auto_reply" disabled)
												span.c-ui__radioIcon
												|このテンプレメールを自動送信する
										.c-ui__remove(@click.prevent="discardCreateForm('brochure')")
											i.fa.fa-times-circle
							tr
								th テンプレート名
								td
									.p-register-box__name
										input.c-ui__freeword(type="text" data-model-key-name="template_name" v-model="brochure.new_template.template_name")
										span &nbsp;資料送付日から&nbsp;
										.c-ui__pulldown
											select(v-model="brochure.new_template.auto_sending_interval")
												option(v-for="n in 9"  data-model-key-name="auto_sending_interval"  :value="n") {{ n }}日後に
										span &nbsp;&nbsp;自動返信する
							tr
								th 件名
								td
									.p-register-box__mail-title
										input.c-ui__freeword(type="text" data-model-key-name="mail_title"  v-model="brochure.new_template.mail_title") 
							tr
								th 本文
								td
									.p-register-box__mail-content
										textarea.c-ui__textarea(data-model-key-name="mail_content"  v-model="brochure.new_template.mail_content")
						.p-register-box__button.u-jcfe
							button.c-ui__passive-btn.is-for-brochure.is-actived(@click.prevent="onClickCreatingButton($event,'brochure')") 変更内容を保存
				button.p-template__register(v-if="!brochure.is_editing" @click.prevent="toggleCreateForm('brochure')") 新しいテンプレートを作成
				button.p-template__register.is-disabled(v-else disabled) 新しいテンプレートを作成		
		.p-template__content
			//- DBに保存されているテンプレートの表示
			form(data-template-type="other")
				input(type="hidden" name="_token"  :value="csrf")
				input(type="hidden" name="_method" value="put")
				h3.c-headline.u-ttlbar カスタムテンプレート
				template(v-for="template in general.templates")
					.p-register-box
						table
							tr
								th テンプレート名
								td
									.p-register-box__config
										.p-register-box__name
											input.c-ui__freeword(type="text" v-model="template.template_name")
										.c-ui__remove
											i.fa.fa-times-circle(
												:data-template-id="template.id"
												:data-template-name="template.template_name"
												@click="openConfirm($event)")
							tr
								th 件名
								td
									.p-register-box__mail-title
										input.c-ui__freeword(type="text" v-model="template.mail_title")
							tr
								th 本文
								td
									.p-register-box__mail-content
										textarea.c-ui__textarea(v-model="template.mail_content")
						.p-register-box__button.u-jcfe
							button.c-ui__passive-btn.is-for-other(:data-template-id="'template_' + template.id" @click.prevent="onClickUpdateButton($event)") 変更内容を保存
			//- 新規登録ボタンを押した時のテンプレートひな形
			form(data-template-type="create_other")
				input(type="hidden" name="_token"  :value="csrf")
				input(type="hidden" name="_method" value="post")
				template(v-if="general.is_editing")
					.p-register-box
						table
							tr
								th テンプレート名
								td
									.u-jcsb
										.p-register-box__name
											input.c-ui__freeword(type="text" v-model="general.new_template.template_name")
										.c-ui__remove(@click.prevent="discardCreateForm('general')")
											i.fa.fa-times-circle
							tr
								th 件名
								td
									.p-register-box__mail-title
										input.c-ui__freeword(type="text" data-model-key-name="mail_title"  v-model="general.new_template.mail_title")
							tr
								th 本文
								td
									.p-register-box__mail-content
										textarea.c-ui__textarea(data-model-key-name="mail_content"  v-model="general.new_template.mail_content")
						.p-register-box__button.u-jcfe
							button.c-ui__passive-btn.is-for-brochure.is-actived(@click.prevent="onClickCreatingButton($event,'general')") 変更内容を保存
				button.p-template__register(v-if="!general.is_editing" @click.prevent="toggleCreateForm('general')") 新しいテンプレートを作成
				button.p-template__register.is-disabled(v-else disabled) 新しいテンプレートを作成
		CreateUser
		.c-ui__overlay(v-show="alert_is_opening")
			.c-alert-box
				p.c-alert-box__content {{ alert_text }}
				.u-m-auto.c-ui__flatbutton(data-btn-type="btn-ok" data-button="primary" @click="closeAlert") OK
		.c-ui__overlay(v-show="confirm_is_opening")
			.c-alert-box
				p.c-alert-box__content {{ alert_text }}
				.u-row
					.c-ui__flatbutton(data-btn-type="btn-ok" data-button="primary" @click="deleteMailTemplate") はい
					.c-ui__flatbutton(data-btn-type="btn-ng" data-button="gray" @click="closeConfirm") いいえ
</template>

<script>
	// Vue Component
	import CreateUser from '../common/CreateUser'

	/**
	 * Mixin
	 *
	 * common_static_propety.js
	 *     + csrf
	 *     + today (moment object)
	 *
	 */
	import common_static_property from '../mixin/common_static_property'

	export default {
		components : {
			CreateUser
		},
		mixins : [common_static_property],
		data(){
			return {
				api_url : {
					fetch_template  : '/api/fetch-template',
					update_template : '/api/update-mail-template',
					delete_template : '/api/delete-mail-template',
					create_template : '/api/create-mail-template'
				},
				has_initialized : false,
				current_auto_template : '',
				current_auto_template_name : '',
				current_editing_template_button : '',
				brochure : {
					cached       : {},  // templateの中身が編集によって変わった時に元のものとdiffを取るためのキャッシュ用templates_object
					templates    : {},
					new_template : {						
						template_name         : '',
						auto_sending_interval : '',
						mail_title            : '',
						mail_content          : ''
					},
					is_editing   : false
				},
				general : {
					cached       : {},  // templateの中身が編集によって変わった時に元のものとdiffを取るためのキャッシュ用templates_object
					templates    : {},
					new_template : {
						template_name : '',
						mail_title    : '',
						mail_content  : '',
					},
					is_editing   : false
				},
				delete_target_id : "",

				alert_text : '',
				alert_is_opening : false,
				confirm_is_opening : false,
			}
		},
		watch : {
			brochure: {
				handler : function(newObj){
					if(this.has_initialized && Object.keys(this.brochure.templates).length){
						this.activateButton(newObj.templates,'b');						
					}
				},
				deep : true
			},
			general : {
				handler : function(newObj){
					if(this.has_initialized && Object.keys(this.general.templates).length){
						this.activateButton(newObj.templates,'o');						
					}
				},
				deep : true
			}
		},
		methods : {
			/***************************************
			 * API Request Method
			 **************************************/
			fetchTemplate(callback){
				const self = this;

				axios.get(self.api_url.fetch_template).then(res => {
					self.brochure.templates = res.data.brochure;
					self.general.templates = res.data.other;					
					
					self.$nextTick(()=> {						

						for(let i = 0; i < self.brochure.templates.length; i++){						
							if(self.brochure.templates[i].auto_sending_flag == 1){
								self.current_auto_template = 'template_' + self.brochure.templates[i].id;								
								break;
							}else{
								self.current_auto_template = 'template_0';
							}
						}
					});

					

					self.brochure.cached = _.cloneDeep(self.brochure.templates);
					self.general.cached = _.cloneDeep(self.general.templates);

					self.has_initialized = true;

					if(callback) callback();
				});
			},
			changeAutoReplyTemplate(){
				const self = this;

				axios.put(self.api_url.update_template,{
					params : {
						id            : self.current_auto_template.replace('template_',''),
						update_reason : 'change_auto_reply_template',
					}
				}).then(res => {
					let message = "";

					if(res.data.msg === 'failed'){						
						message = "自動返信メールのテンプレート変更に失敗しました。";
					}else if(self.current_auto_template === 'template_0'){						
						message = "自動返信を解除しました。";
					}else{
						message = `「${self.current_auto_template_name}」を\r\n自動返信メールに設定しました。`;
					}

					self.alert_text = message;

					self.fetchTemplate();

					self.openAlert();
				});
			},
			createMailTemplate(type){
				const self = this;
				let purpose = "";
				let message = "";

				if(type == 'brochure'){
					purpose = 0;
				}else if(type == 'general'){
					purpose = 1;
				}else{
					return false;
				}

				if(!this[type]['new_template']['template_name']){

					message = "テンプレート名を入力してください。";
					self.alert_text = message;

					self.openAlert();
					return false;
				}

				if(!this[type]['new_template']['mail_title']){

					message = "件名を入力してください。";
					self.alert_text = message;

					self.openAlert();
					return false;
				}

				if(!this[type]['new_template']['mail_content']){

					message = "本文を入力してください。";
					self.alert_text = message;

					self.openAlert();
					return false;
				}
				

				axios.post(self.api_url.create_template,{
					params :_.merge(self[type]['new_template'], { purpose : purpose})
				}).then(res => {
					message = "テンプレートを登録しました。";
					self.alert_text = message;

					this.fetchTemplate(function(){
						const key_array = Object.keys(self[type]['new_template']);

						for(let key of key_array){
							self[type]['new_template'][key] = "";
						}						

						self.toggleCreateForm(type);
					});

					self.openAlert();
				});
			},
			updateMailTemplateContent(template_obj){
				const self = this;
				let message = "";

				if(!template_obj.template_name){

					message = "テンプレート名を入力してください。";
					self.alert_text = message;

					self.openAlert();

				}else{

					axios.put(self.api_url.update_template,{
						params : _.merge(
							template_obj, { update_reason : 'change_mail_template_content'}
						)
					}).then(res => {
						message = "更新しました。";
						self.alert_text = message;

						self.fetchTemplate(function(){});

						self.openAlert();
					})

				}				
			},
			deleteMailTemplate(event){
				const self = this;
				const id = self.delete_target_id;

				if(!id) return false;

				// putとdeleteの切り替えが手間なのでgetで対応
				axios.get(self.api_url.delete_template,{
					params : {
						id : id
					}
				}).then(res => {
					self.fetchTemplate(function(){
						self.delete_target_id = "";
					});

					self.closeConfirm();
					self.alert_text = "削除しました。";
					self.openAlert();
				})
			},

			/***************************************
			 * EventHandler
			 **************************************/
			onClickUpdateButton(event){
				const self = this;
				const templates_array = [];

				for(let i = 0; i < self.brochure.templates.length; i++){
					templates_array.push(self.brochure.templates[i]);
				}
				for(let k = 0; k < self.general.templates.length; k++){
					templates_array.push(self.general.templates[k]);
				}


				if(event.target.getAttribute('data-template-id')){
					
					const template_id = event.target.getAttribute('data-template-id').replace('template_','');
					
					for(let template_obj of templates_array){
						if(template_obj.id == template_id){
							self.updateMailTemplateContent(template_obj);
						}
					}					

				}
			},
			onClickCreatingButton(event,type){
				this.createMailTemplate(type);				
			},
			toggleCreateForm(type){
				this[type]['is_editing'] = !this[type]['is_editing']
			},
			discardCreateForm(type){
				this[type]['is_editing'] = !this[type]['is_editing']
				this[type]['new_template'] = {
					auto_sending_flag     : 0,
					template_name         : '',
					auto_sending_interval : '',
					mail_title            : '',
					mail_content          : ''
				};
			},

			/** Alert Handling **/
			openAlert(){
				this.alert_is_opening = true;				
			},
			closeAlert(){
				this.alert_is_opening = false;				
			},
			openConfirm(){				
				const name = event.target.getAttribute('data-template-name');
				const id   = event.target.getAttribute('data-template-id');
				
				let message = `「${name}」\r\nを削除します。\r\nよろしいですか？`;

				if(!name) return false;
				
				this.alert_text = message;
				this.delete_target_id = id;
				this.confirm_is_opening = true;				
			},
			closeConfirm(){
				this.alert_text = "";
				this.delete_target_id = "";
				this.confirm_is_opening = false;				
			},

			/***************************************
			 * View Helper
			 **************************************/
			activateButton(target_obj,obj_type){
				switch(obj_type){
					case 'b':
						const changed_template_of_b = _.differenceWith(target_obj,this.brochure.cached,_.isEqual);					

						if(changed_template_of_b.length > 0){
							const id = 'template_' + changed_template_of_b[0]['id'];

							const button = document.querySelector(`.c-ui__passive-btn.is-for-brochure[data-template-id="${id}"]`);
							
							this.current_editing_template_button = button;
							button.classList.add('is-actived');
						}else{							
							const button = this.current_editing_template_button;

							if(button && button.classList.contains('is-actived')){
								button.classList.remove('is-actived');
							}

							this.current_editing_template_button = "";
						}

						break;
					case 'o':
						const changed_template_of_o = _.differenceWith(target_obj,this.general.cached,_.isEqual);

						if(changed_template_of_o.length > 0){
							const id = 'template_' + changed_template_of_o[0]['id'];

							const button = document.querySelector(`.c-ui__passive-btn.is-for-other[data-template-id="${id}"]`);

							this.current_editing_template_button = button;
							button.classList.add('is-actived');
						}else{
							const button = this.current_editing_template_button;

							if(button && button.classList.contains('is-actived')){
								button.classList.remove('is-actived');
							}

							this.current_editing_template_button = "";							
						}

						break;
					default:
						break;
				}
			},			
		},
		mounted(){
			const self = this;	

			self.fetchTemplate(function(){
				// documentにaddEventListenerするのはinput要素がmount時には存在していないのでQuerySelectorがnullになるから
				// jQueryを使うのは動的追加要素へのイベントハンドリングが楽になるから
				// また、template_idのパターン取得後でないとaddEventListenerができないので
				// 完全にデータを取得した後のcallbackとして呼び出す必要がある
				if(self.$store.state.current_page === 'mail-template'){
				
					$(document).on('click','input[type="radio"]',(event) => {
						const input_id = event.target.id;
						const template_name = event.target.getAttribute('data-template-name');
						const template_ids = ['template_0'];


						for(let i = 0; i < self.brochure.templates.length; i++){
							template_ids.push('template_' + self.brochure.templates[i].id);
						}						

						if(_.includes(template_ids,input_id)){
							// 現在選択中のinputからremove class
							if(self.current_auto_template){
								document.querySelector(`.p-template #${self.current_auto_template}`).classList.remove('is-checked');
							}

							// 現在選択したinputにadd class
							self.current_auto_template = input_id;
							self.current_auto_template_name = template_name;
							event.target.classList.add('is-checked');

							self.changeAutoReplyTemplate();
						}

					});
				}
			});
		}
	}
</script>