<docs>
	仮入所申し込み者一覧を表示するVueコンポーネントです。

	Child Componentの SearchFormの変更を検知して、データ一覧がリアクティブに更新されます。

	特定のユーザーレコードをクリックすると、Detailコンポーネントにそのユーザーデータが
	Vuex経由で引き渡され、編集・閲覧が可能になります。

	メール送信ボタンを押すとメールフォームが開きVuexからユーザー情報を参照しながら
	対象のユーザーにメールを送信できます。
	（ただし、一括メールはChild ComponentのSearchFormからのカスタムイベントに基づく）
</docs>

<template lang="pug">
	.p-tmpEntering.p-list
		.p-list__header
			h2.p-list__header-title 入所仮申し込み対応
			SearchForm(
				:counts="fetch_option.max_count"
				:condition.sync="condition"
				:freeword.sync="freeword"
				@submit="fetchUserDataWithKeyword"
				@sendMailToWhiteList="sendMailToWhiteList")
		.p-list__table
			table
				thead.p-list__table-head
					tr(v-if="user_records.length === 0")
						th.p-list__table-col 仮申し込み一覧
					tr(v-else).p-list__table-row
						th.p-list__table-col(data-colname="bulk-checkbox")
						th.p-list__table-col(data-colname="entry-type" v-if="showable_columns.includes('entry_type')") 種別
						th.p-list__table-col(data-colname="entry-date" v-if="showable_columns.includes('entry_date')") エントリー日時
						th.p-list__table-col(data-colname="user-name" v-if="showable_columns.includes('name')") 氏名
						th.p-list__table-col(data-colname="user-kana" v-if="showable_columns.includes('kana')") フリガナ
						th.p-list__table-col(data-colname="user-mail" v-if="showable_columns.includes('email')") メールアドレス
						th.p-list__table-col(data-colname="user-occupation" v-if="showable_columns.includes('occupation')") 職業
						th.p-list__table-col(data-colname="user-tel" v-if="showable_columns.includes('tel')") 電話番号
						th.p-list__table-col(data-colname="user-zipcode" v-if="showable_columns.includes('zipcode')") 郵便番号
						th.p-list__table-col(data-colname="user-address" v-if="showable_columns.includes('address')") 住所
						th.p-list__table-col(data-colname="licence-type" v-if="showable_columns.includes('licence_type')") 免許種類
						th.p-list__table-col(data-colname="general" v-if="showable_columns.includes('general1')") {{ general_map['general1']}}
						th.p-list__table-col(data-colname="react-date" v-if="showable_columns.includes('react_date')") 対応日
						th.p-list__table-col(data-colname="react-interval") 対応日数
						th.p-list__table-col(data-colname="react-status" v-if="showable_columns.includes('react_status')") 状況
						th.p-list__table-col(data-colname="detail") 詳細
				tbody.p-list__table-body
					tr(v-if="user_records.length === 0")
						td.p-list__table-col 対象のエントリーはありません。
					tr(v-for="user in user_records"  :data-userid="user.id"  :class="['is-' + user.react_status]" v-else).p-list__table-row
						td.p-list__table-col(data-colname="bulk-checkbox")
							label.u-db.u-posrel(v-if="user.react_status === 'ongoing'")
								input.c-ui__checkbox(type="checkbox"  :data-userid="user.id")
								span.c-ui__checkboxIcon
						td.p-list__table-col(data-colname="entry-type" v-if="showable_columns.includes('entry_type')") {{ entry_types_map[user.entry_type] }}
						td.p-list__table-col(data-colname="entry-date" v-if="showable_columns.includes('entry_date')") {{ formatEntryDate(user.entry_date) }}
						td.p-list__table-col(data-colname="user-name" v-if="showable_columns.includes('name')")
							a(@click.prevent="toggleDetailBox(user)") {{ user.name }}
						td.p-list__table-col(data-colname="user-kana" v-if="showable_columns.includes('kana')") {{ user.kana }}
						td.p-list__table-col(data-colname="user-mail" v-if="showable_columns.includes('email')") {{ user.email }}
						td.p-list__table-col(data-colname="user-occupation" v-if="showable_columns.includes('occupation')") {{ user.occupation }}
						td.p-list__table-col(data-colname="user-tel" v-if="showable_columns.includes('tel')") {{ user.tel }}
						td.p-list__table-col(data-colname="user-zipcode" v-if="showable_columns.includes('zipcode')") {{ user.zipcode }}
						td.p-list__table-col(data-colname="user-address" v-if="showable_columns.includes('address')") {{ setAddress(user) }}
						td.p-list__table-col(data-colname="licence-type" v-if="showable_columns.includes('licence_type')") {{ licence_types_map[user.licence_type] }}
						td.p-list__table-col(data-colname="general" v-if="showable_columns.includes('general1')") {{ user.general1 }}
						template(v-if="showable_columns.includes('react_date')")
							td.p-list__table-col(data-colname="react-date" v-if="user.react_status === 'ongoing'")
								span 未対応
								button.c-ui__basicbutton(data-target="respective_reply_btn"  @click.prevent="openMailForm(user,$event)") メール送信
							td.p-list__table-col(data-colname="react-date" v-else) 
								span {{ user.react_date }}
						td.p-list__table-col(data-colname="react-interval" v-html="getIntervalSinceEntry(user)")
						td.p-list__table-col(data-colname="react-status" v-if="showable_columns.includes('react_status')") {{ status_types_map[user.react_status] }}
						td.p-list__table-col(data-colname="detail")
							button.c-ui__basicbutton(@click.prevent="toggleDetailBox(user)") 詳しく見る
		Detail(@refreshUserData="refreshUserData"  @refreshMultiUsersData="refreshMultiUsersData")
		CreateUser
		MailForm(
			:licence_types_map="licence_types_map"
			:mailform_bg_is_opening="mailform_bg_is_opening"
			@refreshUserData="refreshUserData" 
			@refreshMultiUsersData="refreshMultiUsersData"
			@closeMailForm="closeMailForm")
		.c-ui__overlay(v-show="alert_is_opening")
			.c-alert-box
				p.c-alert-box__content {{ alert_text }}
				.u-m-auto.c-ui__flatbutton(data-btn-type="btn-ok" data-button="primary" @click="closeAlert") OK
</template>

<script>
	// Vue Component
	import SearchForm from './partial/tmp-entering-list/SearchForm'
	import CreateUser from '../common/CreateUser'
	import Detail from '../common/Detail'
	import MailForm from '../common/MailForm'

	// 3rd Party Lib
	const moment = require('moment')

	/**
	 * Mixin
	 *
	 * view_helper.js
	 *     - setAddress
	 *     - formatEntryDate
	 *     - getIntervalSinceEntry
	 *
	 * common_dynamic_property.js
	 *     + entry_types_map
	 *     + licence_types_map
	 *     + status_types_map
	 *     + general_map
	 *
	 * common_api_request_methods
	 *     - fetchUserData
	 *     - fetchUserDataWithKeyword
	 *     - refreshUserData
	 *     - refreshMultiUsersData
	 *     - infiniteScroll
	 *
	 * common_event_handler_methods
	 *     - toggleDetailBox
	 *     - onScroll	 
	 *
	 */
	import view_helper from '../mixin/view_helper'	
	import common_dynamic_property from '../mixin/common_dynamic_property'
	import common_api_request_methods from '../mixin/common_api_request_methods'
	import common_event_handler_methods from '../mixin/common_event_handler_methods'
	
	export default {
		components : {
			SearchForm,
			CreateUser,
			Detail,
			MailForm
		},
		mixins : [view_helper,
				  common_dynamic_property,
				  common_api_request_methods,
				  common_event_handler_methods],
		data(){
			return {
				user_records : '',
				fetch_option : {
					api_url        : "/api/fetch-users-list",
					fetch_length   : 50,    // １回の取得件数
					max_count      : "",    // Math.round( 検索総件数 / １回の取得件数 )
					counter        : 0,     // 現在何回目のrefetchか
					scroll_prevent : false, // scrollが最下部に到達するまで、refetch Ajaxを制御する（prevent）するためのデータプロパティ				
				},
				condition : {
					react_status   : "",
					entry_type     : "tmp_entering",
					licence_type   : "",			
					need_no_action : false
				},
				freeword : "",              // フリーワードをconditionのプロパティにしてしまうと、入力中に検索が走ってしまうので、切り出し

                showable_columns   : [],

				alert_text       : "",
				alert_is_opening : false,

				mailform_bg_is_opening : false,
			}
		},
		watch : {
			condition : {
				handler : function(newValue){
					const condition = newValue;
					if(this.freeword) condition.freeword = this.freeword;

					this.fetchUserData(condition);
				},
				deep : true
			}
		},
		methods : {
			/***************************************
			 * Vuex Method
			 **************************************/
			setCurrentUser(user){
				this.$store.commit('setCurrentUser',user);
			},
			setCurrentUserHistories(histories){
				this.$store.commit('setCurrentUserHistories',histories);
			},

			/***************************************
			 * EventHandler
			 **************************************/
			openMailForm(user,event){
				let id = "";
				let condition = this.condition;
				let et = "";

				if(event){
					et = event.target.getAttribute('data-target');
				}
				
				if(this.$store.state.current_user){
					id = this.$store.state.current_user.id;
				}else if(this.$store.state.white_list){
					id = this.$store.state.white_list;

					if(id && id.length > 50){
						this.alert_text = "対象者が多すぎます。\r\n一度に送信できる人数は50件までです。";

						this.openAlert();
						return false;
					}				
				}else if(et && et != 'respective_reply_btn'){

					if(this.fetch_option){
						const too_many = this.fetch_option.max_count;

						if(too_many > 50){
							this.alert_text = "対象者が多すぎます。\r\n一度に送信できる人数は50件までです。";
							
							this.openAlert();
							return false;
						}						

					}
				}


				if(user){
					// MailFormがshowされる前に、Vuexにクリック対象のUserをセット
					this.$store.commit('setCurrentUser',user);	
				}

				this.mailform_bg_is_opening = true;
			},
			closeMailForm(){
				this.mailform_bg_is_opening = false;
			},
			sendMailToWhiteList(){
				const white_list = [];
				let checkboxes = document.querySelectorAll('[data-colname="bulk-checkbox"] input[type="checkbox"]:checked');

				checkboxes = Array.prototype.slice.call(checkboxes,0);

				for(let checkbox of checkboxes){
					white_list.push(checkbox.getAttribute('data-userid'));
				}				

				if(!white_list.length){
					this.alert_text = "選択してください。";
					this.openAlert();
					
					return false;
				}

				this.$store.commit('setWhiteListForSendingMail',white_list);

				this.openMailForm();
			},		
			/** Alert Handling **/
			openAlert(){
				this.alert_is_opening = true;				
			},
			closeAlert(){
				this.alert_is_opening = false;
			},
		},
		created(){
			const self = this;

			axios.get('/api/fetch-showable-columns',{
				params : {
					page : 'tmp_entering'
				}
			}).then(res => {
				self.showable_columns = res.data;
			});
		},		
	}
</script>