@page {
  margin: 0;
}
body{
	background: #F2F2F2;
}
.wrapper{
	position: relative;
	color: #727272;
}
#main{
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 50px;
	margin-left: 195px;
	padding: 10px 10px 30px;
	width: calc(100% - 195px);
	min-width: 1000px;
	height: auto;
	min-height: 100%;
	background: #F2F2F2;
}
#header{
	width: 100%;	
	position : fixed;
	z-index: 40;	
}
#sidebar{
	position: fixed;
	width: 195px;
	height: 100%;
	z-index:30;
	background: #FAFAFA;
	padding-top: 52px;
	box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.05);
}