<docs>
	- loading iconについては、CSS background : urlだとレンダリングが間に合わないのでimgタグで読み込みます。
	  (*データが少ないとAjaxの方が早く終わってしまい、ローディングアイコン表示がされないため。)

	- 学校のbarchartは、長くなるのを防ぐため、上位8校しか表示していません。
	  cf, v-if="index < 8 && count > 0")
	  index 条件を変更することで、露出枠調整可能です
</docs>

<template lang="pug">
	.p-barchart
		.p-dashboard__common-bg.p-barchart__school
			.p-barchart__school-header
				h2.p-dashboard__common-title.u-ttlbar 学校
				.u-posrel(v-if="did_fetch_school_data")
					.c-ui-pulldown
						select(v-model="pulldown_of_school")
							option(value="") WEBエントリー
							option(v-for="tag in select_tag_list"  :value="tag.en_name") {{ tag.jp_name }}
			.p-dashboard__common-wrapper.is-loading
				img(src="/images/loading.gif" width="128" height="15" v-if="!did_fetch_school_data" style="margin: 20px")
				template(v-if="did_fetch_school_data && school_data.length > 0")
					table.p-barchart__table
						tbody
							tr(v-for="(data, index) in school_data" v-if="data.metrics > 0 && index < 20")
								td(data-colname="key") {{ data.school }}
								td(data-colname="apply") 
									|{{ formatFloat(data.metrics).toLocaleString() }}
									span(v-if="current_school_pulldown.indexOf('rate') !== -1") %
								td(data-colname="barchart")
									span(:style="{width : getPercentage(data.metrics, 'school') + '%' }") &nbsp;
								td(data-colname="percentage") {{ getPercentage(data.metrics, 'school') }}%							
						tfoot
							tr
								td(data-colname="key") 合計
								td(data-colname="apply") 
									|{{ sumOrConversionRate('school',current_school_pulldown) }}
									span(v-if="current_school_pulldown.indexOf('rate') !== -1") %
								td(data-colname="barchart") &nbsp;
								td(data-colname="percentage") {{ school_data ? '100.0%' : '0.0%' }}
		.p-dashboard__common-bg.p-barchart__channel
			.p-barchart__channel-header
				h2.p-dashboard__common-title.u-ttlbar 経路
				.u-posrel(v-if="did_fetch_channel_data")
					.c-ui-pulldown
						select(v-model="pulldown_of_channel")
							option(value="") WEBエントリー
							option(v-for="tag in select_tag_list"  :value="tag.en_name") {{ tag.jp_name }}
			.p-dashboard__common-wrapper.is-loading
				img(src="/images/loading.gif" width="128" height="15" v-if="!did_fetch_channel_data" style="margin: 20px")
				template(v-if="did_fetch_channel_data && channel_data.length > 0")
					table.p-barchart__table
						tbody
							tr(v-for="(data, index) in channel_data"  v-if="data.metrics > 0 && index < 20")
								td(data-colname="key") {{ data.via_routes }}
								td(data-colname="apply") 
									|{{ formatFloat(data.metrics).toLocaleString() }}
									span(v-if="current_channel_pulldown.indexOf('rate') !== -1") %
								td(data-colname="barchart")
									span(:style="{ width : getPercentage(data.metrics, 'channel') + '%' }") &nbsp;
								td(data-colname="percentage") {{ getPercentage(data.metrics, 'channel') }}%							
						tfoot
							tr
								td(data-colname="key") 合計
								td(data-colname="apply") 
									|{{ sumOrConversionRate('channel',current_channel_pulldown) }}
									span(v-if="current_channel_pulldown.indexOf('rate') !== -1") %
								td(data-colname="barchart") &nbsp;
								td(data-colname="percentage") {{ channel_data ? '100.0%' : '0.0%' }}
		.p-dashboard__common-bg.p-barchart__area
			.p-barchart__school-header
				.u-flex
					h2.p-dashboard__common-title.u-ttlbar 地域
					a.c-ui__basicbutton.c-ui__filebutton(@click.prevent="downloadCsv" style="color:#000;margin-left:10px;" v-if="role_csv && did_fetch_area_data && area_data.length > 0")
						i.fa.fa-arrow-circle-down
						| CSVダウンロード
				.u-posrel(v-if="did_fetch_area_data")
					.c-ui-pulldown
						select(v-model="pulldown_of_area")
							option(value="") WEBエントリー
							option(v-for="tag in select_tag_list"  :value="tag.en_name") {{ tag.jp_name }}
			.p-dashboard__common-wrapper.is-loading
				img(src="/images/loading.gif" width="128" height="15" v-if="!did_fetch_area_data" style="margin: 20px")
				template(v-if="did_fetch_area_data && area_data.length > 0")
					table.p-barchart__table
						tbody
							tr(v-for="(data, index) in area_data"  v-if="data.metrics > 0 && index < 20")
								td(data-colname="key") {{ truncate(data.zipcode_level_address) }}
								td(data-colname="apply") 
									|{{ formatFloat(data.metrics).toLocaleString() }}
									span(v-if="current_area_pulldown.indexOf('rate') !== -1") %
								td(data-colname="barchart")
									span(:style="{width : getPercentage(data.metrics, 'area') + '%' }") &nbsp;
								td(data-colname="percentage") {{ getPercentage(data.metrics, 'area') }}%
						tfoot
							tr
								td(data-colname="key") 合計
								td(data-colname="apply") 
									|{{ sumOrConversionRate('area',current_area_pulldown) }}
									span(v-if="current_area_pulldown.indexOf('rate') !== -1") %
								td(data-colname="barchart") &nbsp;
								td(data-colname="percentage") {{ area_data ? '100.0%' : '0.0%' }}
</template>

<script>
	export default {
		props : ['school','channel','area','counts','select_tag_list','dates'],
		data() {
			return {
				pulldown_of_school : '',
				pulldown_of_channel : '',
				pulldown_of_area : '',
				did_fetch_school_data : false,
				did_fetch_channel_data : false,
				did_fetch_area_data : false,
			}
		},
		computed : {			
			role_csv(){
				return this.$store.state.role_csv;
			},		
			current_school_pulldown(){
				return this.pulldown_of_school || 'web_entry';
			},
			current_channel_pulldown(){
				return this.pulldown_of_channel || 'web_entry';
			},
			current_area_pulldown(){
				return this.pulldown_of_area || 'web_entry';
			},
			school_data(){				
				let rtnval = "";
				const value = this.current_school_pulldown;

				if(value.indexOf('entering_count') >= 0){

					if(value.indexOf('brochure') >= 0){
						rtnval = _.filter(this.$props.school.each.enter, function(o){ return o.entry_type == 'brochure'});
					}else if(value.indexOf('tmp_entering') >= 0){
						rtnval = _.filter(this.$props.school.each.enter, function(o){ return o.entry_type == 'tmp_entering'});
					}else if(value.indexOf('inquiry') >= 0){
						rtnval = _.filter(this.$props.school.each.enter, function(o){ return o.entry_type == 'inquiry'});
					}else if(value.indexOf('other') >= 0){
						rtnval = _.filter(this.$props.school.each.enter, function(o){ return o.entry_type == 'other'});
					}else{
						rtnval = this.$props.school.web_entry.enter;
					}					

				}else if(value.indexOf('entering_rate') >= 0){					

					if(value.indexOf('brochure') >= 0){
						rtnval = _.filter(this.$props.school.each.rate, function(o){ return o.entry_type == 'brochure'});
					}else if(value.indexOf('tmp_entering') >= 0){
						rtnval = _.filter(this.$props.school.each.rate, function(o){ return o.entry_type == 'tmp_entering'});
					}else if(value.indexOf('inquiry') >= 0){
						rtnval = _.filter(this.$props.school.each.rate, function(o){ return o.entry_type == 'inquiry'});
					}else if(value.indexOf('other') >= 0){
						rtnval = _.filter(this.$props.school.each.rate, function(o){ return o.entry_type == 'other'});
					}else{
						rtnval = this.$props.school.web_entry.rate;
					}					

				}else{					

					if(value.indexOf('brochure') >= 0){
						rtnval = _.filter(this.$props.school.each.entry, function(o){ return o.entry_type == 'brochure'});
					}else if(value.indexOf('tmp_entering') >= 0){
						rtnval = _.filter(this.$props.school.each.entry, function(o){ return o.entry_type == 'tmp_entering'});
					}else if(value.indexOf('inquiry') >= 0){
						rtnval = _.filter(this.$props.school.each.entry, function(o){ return o.entry_type == 'inquiry'});
					}else if(value.indexOf('other') >= 0){
						rtnval = _.filter(this.$props.school.each.entry, function(o){ return o.entry_type == 'other'});
					}else{
						rtnval = this.$props.school.web_entry.entry;
					}					

				}

				return rtnval;
			},
			channel_data(){
				let rtnval = "";
				const value = this.current_channel_pulldown;

				if(value.indexOf('entering_count') >= 0){

					if(value.indexOf('brochure') >= 0){
						rtnval = _.filter(this.$props.channel.each.enter, function(o){ return o.entry_type == 'brochure'});
					}else if(value.indexOf('tmp_entering') >= 0){
						rtnval = _.filter(this.$props.channel.each.enter, function(o){ return o.entry_type == 'tmp_entering'});
					}else if(value.indexOf('inquiry') >= 0){
						rtnval = _.filter(this.$props.channel.each.enter, function(o){ return o.entry_type == 'inquiry'});
					}else if(value.indexOf('other') >= 0){
						rtnval = _.filter(this.$props.channel.each.enter, function(o){ return o.entry_type == 'other'});
					}else{
						rtnval = this.$props.channel.web_entry.enter;
					}					

				}else if(value.indexOf('entering_rate') >= 0){					

					if(value.indexOf('brochure') >= 0){
						rtnval = _.filter(this.$props.channel.each.rate, function(o){ return o.entry_type == 'brochure'});
					}else if(value.indexOf('tmp_entering') >= 0){
						rtnval = _.filter(this.$props.channel.each.rate, function(o){ return o.entry_type == 'tmp_entering'});
					}else if(value.indexOf('inquiry') >= 0){
						rtnval = _.filter(this.$props.channel.each.rate, function(o){ return o.entry_type == 'inquiry'});
					}else if(value.indexOf('other') >= 0){
						rtnval = _.filter(this.$props.channel.each.rate, function(o){ return o.entry_type == 'other'});
					}else{
						rtnval = this.$props.channel.web_entry.rate;
					}					

				}else{					

					if(value.indexOf('brochure') >= 0){
						rtnval = _.filter(this.$props.channel.each.entry, function(o){ return o.entry_type == 'brochure'});
					}else if(value.indexOf('tmp_entering') >= 0){
						rtnval = _.filter(this.$props.channel.each.entry, function(o){ return o.entry_type == 'tmp_entering'});
					}else if(value.indexOf('inquiry') >= 0){
						rtnval = _.filter(this.$props.channel.each.entry, function(o){ return o.entry_type == 'inquiry'});
					}else if(value.indexOf('other') >= 0){
						rtnval = _.filter(this.$props.channel.each.entry, function(o){ return o.entry_type == 'other'});
					}else{
						rtnval = this.$props.channel.web_entry.entry;
					}					

				}

				return rtnval;
			},
			area_data(){
				let rtnval = "";
				const value = this.current_area_pulldown;

				if(value.indexOf('entering_count') >= 0){

					if(value.indexOf('brochure') >= 0){
						rtnval = _.filter(this.$props.area.each.enter, function(o){ return o.entry_type == 'brochure'});
					}else if(value.indexOf('tmp_entering') >= 0){
						rtnval = _.filter(this.$props.area.each.enter, function(o){ return o.entry_type == 'tmp_entering'});
					}else if(value.indexOf('inquiry') >= 0){
						rtnval = _.filter(this.$props.area.each.enter, function(o){ return o.entry_type == 'inquiry'});
					}else if(value.indexOf('other') >= 0){
						rtnval = _.filter(this.$props.area.each.enter, function(o){ return o.entry_type == 'other'});
					}else{
						rtnval = this.$props.area.web_entry.enter;
					}					

				}else if(value.indexOf('entering_rate') >= 0){					

					if(value.indexOf('brochure') >= 0){
						rtnval = _.filter(this.$props.area.each.rate, function(o){ return o.entry_type == 'brochure'});
					}else if(value.indexOf('tmp_entering') >= 0){
						rtnval = _.filter(this.$props.area.each.rate, function(o){ return o.entry_type == 'tmp_entering'});
					}else if(value.indexOf('inquiry') >= 0){
						rtnval = _.filter(this.$props.area.each.rate, function(o){ return o.entry_type == 'inquiry'});
					}else if(value.indexOf('other') >= 0){
						rtnval = _.filter(this.$props.area.each.rate, function(o){ return o.entry_type == 'other'});
					}else{
						rtnval = this.$props.area.web_entry.rate;
					}					

				}else{					

					if(value.indexOf('brochure') >= 0){
						rtnval = _.filter(this.$props.area.each.entry, function(o){ return o.entry_type == 'brochure'});
					}else if(value.indexOf('tmp_entering') >= 0){
						rtnval = _.filter(this.$props.area.each.entry, function(o){ return o.entry_type == 'tmp_entering'});
					}else if(value.indexOf('inquiry') >= 0){
						rtnval = _.filter(this.$props.area.each.entry, function(o){ return o.entry_type == 'inquiry'});
					}else if(value.indexOf('other') >= 0){
						rtnval = _.filter(this.$props.area.each.entry, function(o){ return o.entry_type == 'other'});
					}else{
						rtnval = this.$props.area.web_entry.entry;
					}					

				}

				return rtnval;
			}
		},
		watch : {
			school : {
				handler : function(newValue){
					this.onFetchedProp('school');
				},
				deep : true,
			},
			channel : {
				handler : function(newValue){
					this.onFetchedProp('channel');
				},
				deep : true,
			},
			area : {
				handler : function(newValue){
					this.onFetchedProp('area');
				},
				deep : true,
			}
		},
		methods : {
			/***************************************
			 * API Request Method
			 **************************************/
			downloadCsv(){
				let os = "";

				if(window.navigator.platform.match(/Win/)){
					os = "win";
				}else{
					os = "other";
				}

				const url = window.location.protocol + '//'
						  + window.location.host 
						  + '/crm/csv-download-area-data?start_date=' 
						  + this.$props.dates.start_date 
						  + '&end_date=' 
						  + this.$props.dates.end_date
						  + '&content='
						  + this.current_area_pulldown
						  + '&os='
						  + os;

				window.open(url,'_blank');				
			},
			/***************************************
			 * EventHandler
			 **************************************/
			onFetchedProp(target){
				const dom = document.querySelector(`.p-dashboard__common-bg.p-barchart__${target} .p-dashboard__common-wrapper`);

				if(!dom) return false;

				if(dom.classList.contains("is-loading")){
					dom.classList.remove("is-loading");
				}

				if(target === 'school') this.did_fetch_school_data = true;
				if(target === 'channel') this.did_fetch_channel_data = true;
				if(target === 'area') this.did_fetch_area_data = true;
			},


			/***************************************
			 * View Helper
			 **************************************/			
			getPercentage(count,type){
				let sum = "";				

				if(count === 0) return '0.00';      // Zero Div対策用

				const target = this[`current_${type}_pulldown`];				
				if(target.indexOf('rate') >= 0){

					if(target.indexOf('brochure') >= 0){
						sum = parseFloat(this.$props[type].sum.entering_rate_of_brochure);
					}else if(target.indexOf('inquiry') >= 0){
						sum = parseFloat(this.$props[type].sum.entering_rate_of_inquiry);
					}else if(target.indexOf('tmp_entering') >= 0){
						sum = parseFloat(this.$props[type].sum.entering_rate_of_tmp_entering);
					}else if(target.indexOf('other') >= 0){
						sum = parseFloat(this.$props[type].sum.entering_rate_of_other);
					}else{
						sum = parseFloat(this.$props[type].sum.entering_rate_of_web_entry);
					}
					
				}else if(target.indexOf('entering_count') >= 0){

					if(target.indexOf('brochure') >= 0){
						sum = parseInt(this.$props[type].sum.entering_count_of_brochure);
					}else if(target.indexOf('inquiry') >= 0){
						sum = parseInt(this.$props[type].sum.entering_count_of_inquiry);
					}else if(target.indexOf('tmp_entering') >= 0){
						sum = parseInt(this.$props[type].sum.entering_count_of_tmp_entering);
					}else if(target.indexOf('other') >= 0){
						sum = parseInt(this.$props[type].sum.entering_count_of_other);
					}else{
						sum = parseInt(this.$props[type].sum.entering_count_of_web_entry);
					}

				}else{

					if(target.indexOf('brochure') >= 0){
						sum = parseInt(this.$props[type].sum.brochure);
					}else if(target.indexOf('inquiry') >= 0){
						sum = parseInt(this.$props[type].sum.inquiry);
					}else if(target.indexOf('tmp_entering') >= 0){
						sum = parseInt(this.$props[type].sum.tmp_entering);
					}else if(target.indexOf('other') >= 0){
						sum = parseInt(this.$props[type].sum.other);
					}else{
						sum = parseInt(this.$props[type].sum.web_entry);
					}

				}				

				return ((count / sum).toFixed(3) * 100).toFixed(1);				
			},
			formatFloat(float){
				return Math.round(float) !== float ? float * 100 : float;				
			},
			sumOrConversionRate(type,current_pulldown){
				if(current_pulldown.indexOf('rate') >= 0){
					if(current_pulldown.indexOf('brochure') >= 0){
						return (parseFloat(this.$props[type].sum.entering_rate_of_brochure) * 100).toFixed(2);
					}else if(current_pulldown.indexOf('inquiry') >= 0){
						return (parseFloat(this.$props[type].sum.entering_rate_of_inquiry) * 100).toFixed(2);
					}else if(current_pulldown.indexOf('tmp_entering') >= 0){
						return (parseFloat(this.$props[type].sum.entering_rate_of_tmp_entering) * 100).toFixed(2);
					}else if(current_pulldown.indexOf('other') >= 0){
						return (parseFloat(this.$props[type].sum.entering_rate_of_other) * 100).toFixed(2);
					}else{
						return (parseFloat(this.$props[type].sum.entering_rate_of_web_entry) * 100).toFixed(2);
					}
				}else{
					return this.formatFloat(this.$props[type].sum[current_pulldown]).toLocaleString();
				}
			},
			truncate(str){
				if(str && str.length > 20){
					return str.substr(0,20) + '...';
				}
				return str;
			}
		}
	}
</script>