<template lang="pug">
	.p-dashboard__common-bg.p-googleMap
		.p-googleMap__header.u-jcsb.is-no-print
			.u-flex.u-al-item-centre
				h2.p-dashboard__common-title.u-m-both10.u-ttlbar.u-float-l エリア
				.c-ui__flatbutton(data-button="primary" @click.prevent="print").is-no-print 地図を印刷する
			.u-jcsb.u-float-r.u-al-item-centre
				.c-ui-pulldown.p-googleMap__narrowdown_by_lic
					select(v-model="pulldown" @change="setVisible($event)")
						option(value="") 全ての車種
						option(v-for="(value,key) in licence_types"  :value="key") {{ value }}
				.c-ui-pulldown.p-googleMap__narrowdown_by_entry.u-clearfix.u-posrel
					.u-jcsb.u-float-l.p-googleMap__narrowdown-checkbox
						label.u-db
							input.c-ui__checkbox(type="checkbox" checked data-entry-type="entered" @change="setVisible($event)")
							span.c-ui__checkboxIcon
						.p-googleMap__narrowdown_label
							i(data-user-icon-type="entered")
							|入所者
					template(v-for="type in entry_types")
						.u-jcsb.u-float-l.p-googleMap__narrowdown-checkbox
							label.u-db
								input.c-ui__checkbox(type="checkbox" checked  :data-entry-type="type.en_name" @change="setVisible($event)")
								span.c-ui__checkboxIcon
							.p-googleMap__narrowdown_label
								i
								|{{ type.jp_name }}					
		.p-googleMap__main
			#map(style="height:600px;width:100%")
</template>

<script>	
	export default {	
		props : ['prop_school_geo','prop_user_geodatas','entry_types'],
		data(){
			return {
				map : "",
				marker : {},
				pulldown : '',				
			}
		},
		computed : {
			// propは直接変更できないため
			school_geo(){
				return this.prop_school_geo;
			},
			user_geodatas(){
				return this.prop_user_geodatas;
			},
			current_pulldown(){
				return this.pulldown || '';
			},
			narrow_down_checkbox_counts(){
				return this.$props.entry_types.length + 1; // +入所者
			},
			licence_types(){
				return this.$store.state.config__licence_types_map;
			}
		},
		watch : {
			school_geo : {
				handler : function(newValue){
					this.initGoogleMap(newValue);
				},
				deep : true
			},
			user_geodatas : {
				handler : function(newValue){
					this.mapping(newValue)
				},
				deep : true
			}
		},
		methods : {
			initGoogleMap(geo_object,target = 'map'){
				this.map = new google.maps.Map(document.getElementById(target), {
					center: { // 地図の中心を指定
						lat: Number(geo_object.lat), // 緯度
						lng: Number(geo_object.lng)  // 経度
					},

					zoom: 13 // 地図のズームを指定
				});	

				const marker = new google.maps.Marker({ // マーカーの追加
					position : {
						lat: Number(geo_object.lat), // 緯度
						lng: Number(geo_object.lng)  // 経度,
					},
					map : this.map, // マーカーを立てる地図を指定
					icon : {
						url : '/images/marker.png',
						scaledSize : new google.maps.Size(45,45),
						anchor: new google.maps.Point(22, 22),
					}
				});
			},
			mapping(user_geodatas){
                const self          = this;
                const keys          = Object.keys(user_geodatas);
                let marker_color    = "";
                let marker          = "";

				for(let key of keys){

					self.marker[key] = [];

					key.indexOf('entered') != -1 ? marker_color = 'red' : marker_color = 'yellow';

					$.each(user_geodatas[key],(index,elem) => {

						marker = new google.maps.Marker({

							position :  { // 地図の中心を指定
								lat: Number(elem.lat), // 緯度
								lng: Number(elem.lng)  // 経度,
							},
							map : self.map, // マーカーを立てる地図を指定
							
							icon : {url : '/images/' + marker_color + '.png', scaledSize : new google.maps.Size(21,21) }

						});


						self.marker[key].push(marker);
					});

				}
			},
			setVisible(event){
				const self = this;
				const marker_keys = Object.keys(self.marker);


				const checked_entry_types = [];
				const checkedDOMs = document.querySelectorAll('.p-googleMap__narrowdown-checkbox input:checked');
				Array.prototype.slice.call(checkedDOMs,0).forEach((dom) => {
					checked_entry_types.push(dom.getAttribute('data-entry-type'));
				})					

				// チェックボックスAll on　かつ　全ての車種
				if(checked_entry_types.length === self.narrow_down_checkbox_counts && ! self.current_pulldown){
					
					for(let key of marker_keys){
						self.marker[key].forEach(function(marker_obj){
							marker_obj.setVisible(true);								
						});
					}

				// チェックボックスAll on　かつ　車種指定
				}else if(checked_entry_types.length === self.narrow_down_checkbox_counts && self.current_pulldown){

					const visible_targets = [];

					for(let key of marker_keys){
						if(key.indexOf(self.current_pulldown) != -1){
							visible_targets.push(key);
						}
					}					

					const invisible_targets = _.difference(marker_keys,visible_targets);

					for(let marker_key of visible_targets){
						self.marker[marker_key].forEach(function(marker_obj){
							marker_obj.setVisible(true);
						});
					}

					for(let marker_key of invisible_targets){
						self.marker[marker_key].forEach(function(marker_obj){
							marker_obj.setVisible(false);								
						});
					}

				}else{

					const visible_targets = [];						

					for(let key of marker_keys){  // [regular_mt_inquiry,regular_at_inquiry...]							

						let hit_flag = false;

						for(let type of checked_entry_types){  // [inquiry,tmp_entering,brochure,...]								

							if(key.indexOf(type) != -1){
								hit_flag = true;
							}

							if(hit_flag　&&	key.indexOf(self.current_pulldown) != -1){
								visible_targets.push(key);
								break;								
							}
						}
					}


					const invisible_targets = _.difference(marker_keys,visible_targets);

					for(let marker_key of visible_targets){
						self.marker[marker_key].forEach(function(marker_obj){
							marker_obj.setVisible(true);
						});
					}

					for(let marker_key of invisible_targets){
						self.marker[marker_key].forEach(function(marker_obj){
							marker_obj.setVisible(false);								
						});
					}
						
				}

			},
			// print			
			print(){
				window.print();			
			},			
		},		
	}
</script>