<docs>
	エントリー・資料請求・仮入所申し込み・問い合わせ・入所数の全体数を表示します。

	loading iconについては、CSS background : urlだとレンダリングが間に合わないのでimgタグで読み込みます。
	(*データが少ないとAjaxの方が早く終わってしまい、ローディングアイコン表示がされないため)
</docs>

<template lang="pug">
	.p-dashboard__common-bg
		.p-dashboard__common-wrapper(:class="{'is-loading': !did_fetch_data }")
			img(src="/images/loading.gif" width="128" height="15" v-if="!did_fetch_data" style="margin: 20px")
			template(v-if="did_fetch_data")
				.p-monitor
					dl.p-monitor__item(data-keyname="entry")
						dt WEBエントリー
						dd.u-fs24 {{ counts.entry.total.toLocaleString() }}
					template(v-for="type in entry_types")
						dl.p-monitor__item(:data-keyname="type.en_name")
							dt {{ type.jp_name }}
							dd {{ counts.entry[type.en_name].toLocaleString() }}
					dl.p-monitor__item(data-keyname="entering")
						dt 入所数
						dd.u-fs24 {{ counts.entering.toLocaleString() }}
</template>

<script>
	export default {
		props : ['counts','entry_types'],
		data(){
			return {
				did_fetch_data : false
			}
		},
		watch : {
			counts : {
				handler : function(newValue){
					this.onFetchedProp();
				},
				deep : true
			}
		},
		methods : {
			/***************************************
			 * EventHandler
			 **************************************/
			onFetchedProp(){
				this.did_fetch_data = true;
			}
		}		
	}
</script>