<docs>
	`NavBar.vue`はVuedatepickerを使って、ユーザーからの期間変更を検知します。
	期間が変更されると、syncされたpropを使って、親コンポーネントの`Dashboard.vue`へ日付の変更を通知します。
	`Dashboard.vue`側ではその変更された日付を検知して、dashboardに表示する用のデータを再集計する
	APIリクエストを投げます。
</docs>

<template lang="pug">
	.p-dashboard__common-bg.p-navbar
		h2.p-navbar__title ダッシュボード
		.p-navbar__calendar
			.u-posrel
				.c-ui-pulldown
					input.is-from(
					type="text" 
					placeholder="対象期間を選択" 
					readonly 
					:value="formatted_start_date" 
					@click="openCalendar")
			span.p-navbar__calendar-range 〜
			.u-posrel
				.c-ui-pulldown
					input.is-to(
					type="text" 
					placeholder="対象期間を選択" 
					readonly 
					:value="formatted_end_date" 
					@click="openCalendar")
		.c-ui__calendar.is-from.is-popup
			datepicker(
			:inline="true" 
			language="ja"  
			:value="dates.start_date"  
			format="yyyy-MM-dd")
			button.c-ui__calendar-btn(data-btntype="ensure" @click="updateStartDate") 確定
		.c-ui__calendar.is-to.is-popup
			datepicker(
			:inline="true" 
			language="ja"  
			:value="dates.end_date"  
			format="yyyy-MM-dd")
			button.c-ui__calendar-btn(data-btntype="ensure" @click="updateEndDate") 確定
</template>

<script>
	// Vue Component
	import datepicker from 'vuejs-datepicker';

	// 3rd Party Lib
	const moment = require('moment')

	export default {		
		components : {
			datepicker,
		},
		props : ['dates'],
		computed : {
			formatted_start_date(){
				return this.$props.dates.start_date.replace(
					/(\d{4})-(\d{2})-(\d{2})/, (match, p1, p2, p3) => {
						return `${p1}年${p2}月${p3}日`;
					}
				);
			},
			formatted_end_date(){
				return this.$props.dates.end_date.replace(/(\d{4})-(\d{2})-(\d{2})/, (match, p1, p2, p3) => {
					return `${p1}年${p2}月${p3}日`;
				});
			},
		},		
		methods : {
			/***************************************
			 * EventHandler
			 **************************************/
			openCalendar(e){
				let class_name = e.target.className;
				document.querySelector(`.c-ui__calendar.${class_name}`).style.display = "block";				
			},
			closeCalendar(target){
				target.style.display = "none";				
			},			
			updateStartDate(){
				this.$props.dates.start_date = document.querySelector('.is-from .vdp-datepicker input[type="hidden"]').value;
				
				const from = moment(this.$props.dates.start_date);
				const to = moment(this.$props.dates.end_date);

				if(to.diff(from,'days') > 0){
					// エラーの際はカレンダーを開いたまま
					this.closeCalendar(document.querySelector('.c-ui__calendar.is-from'));
				}
				

				this.$emit('update:start_date',this.$props.dates.start_date);
				this.$emit('dateChanged');
			},
			updateEndDate(){
				this.$props.dates.end_date = document.querySelector('.is-to .vdp-datepicker input[type="hidden"]').value;

				const from = moment(this.$props.dates.start_date);
				const to = moment(this.$props.dates.end_date);

				if(to.diff(from,'days') > 0){
					// エラーの際はカレンダーを開いたまま
					this.closeCalendar(document.querySelector('.c-ui__calendar.is-to'));					
				}
				

				this.$emit('update:end_date',this.$props.dates.end_date);
				this.$emit('dateChanged');
			},			
		},		
	}
</script>