<docs>
	- loading iconについては、CSS background : urlだとレンダリングが間に合わないのでimgタグで読み込みます。
	  (*データが少ないとAjaxの方が早く終わってしまい、ローディングアイコン表示がされないため。)

	- グラフのテーブルラベル(th)に該当する、免許種別については、config/licence_types_object.jsonで各教習所ごとに定義します。

	- $prop['stuck_bar_chart']の算出プロパティとして、canvas_render_dataがあります。（reactive）
	  canvas_render_dataは、canvasにグラフとして算出すべきデータだけを、stuck_bar_chartオブジェクトから抜き出し、その際のkeynameがcurrent_pulldownになります。

	- pulldownや日付（dates）の変更に応じてcanvasのrenderを自動的に変更するため、canvas_render_dataはwatcherにも追加します。
</docs>

<template lang="pug">
	.p-dashboard__common-bg.p-stuck-bar-chart
		.u-jcsb
			h2.p-dashboard__common-title.u-ttlbar サマリー
			.u-posrel
				.c-ui-pulldown
					select(v-model="pulldown")
						option(value="") WEBエントリー
						option(v-for="tag in select_tag_list_for_canvas"  :value="tag.en_name") {{ tag.jp_name }}
		.p-dashboard__common-wrapper.is-loading.u-of-auto(style="width:100%;")
			img(src="/images/loading.gif" width="128" height="15" v-if="!did_fetch_data" style="margin: 20px")
			.u-flex
				canvas#stage
			template(v-if="did_fetch_data")
				.p-stuck-bar-chart__table(:style="{width: canvas_params.width + 'px', minWidth : canvas_params.witdh + 'px'}")
					.p-stuck-bar-chart__table-row(
						v-for="(jp_name, key) in th_label_map")
						.p-stuck-bar-chart__table-header(
							v-if="stuck_bar_chart[current_pulldown][key]") 
							span.u-barchartcolor(
								:style="{ color : dashboard_colors[jp_name] }") ■
							| {{ jp_name }}
						.p-stuck-bar-chart__table-field(
							v-for="month in canvas_params.months"
							v-if="stuck_bar_chart[current_pulldown][key][month]") 
							|{{ stuck_bar_chart[current_pulldown][key][month].toLocaleString() }}
						.p-stuck-bar-chart__table-field(v-else) 0
</template>

<script>
	// Mixins
	import canvas from '../../../mixin/canvas'

	// 3rd Party Libs
	const moment = require('moment');	

	export default {
		props : ['stuck_bar_chart','dates','select_tag_list_for_canvas'],
		mixins : [canvas],  // data: canvas_params
		data(){
			return {
				did_fetch_data : false,				
				pulldown       : '',				
			}
		},
		computed : {
			current_pulldown(){
				return this.pulldown || 'web_entry';
			},
			canvas_render_data(){
				const data = {};

				for(let key in this.$props.stuck_bar_chart[this.current_pulldown]){					
					data[this.th_label_map[key]] = this.$props.stuck_bar_chart[this.current_pulldown][key];
				}	

				return data;
			},
			th_label_map(){
				return this.$store.state.config__licence_types_map;
			},
			dashboard_colors(){
				return this.$store.state.config__dashboard_colors;
			}

		},
		watch : {
			stuck_bar_chart : {
				handler : function(newValue){
					this.onFetchedProp();
				},
				deep : true
			},
			canvas_render_data : {
				handler : function(newCanvasRenderData){
                    const start_year    = moment(this.$props.dates.start_date).year();
                    const start_month   = moment(this.$props.dates.start_date).month();
                    const end_year      = moment(this.$props.dates.end_date).year();
                    const end_month     = moment(this.$props.dates.end_date).month();

                    const start = moment([start_year,start_month,1]).format('YYYY-MM-DD');
                    const end = moment([end_year,end_month,1]).format('YYYY-MM-DD');

                    const interval = moment(end).diff(start,'month') + 1;									

					// canvas mixin's public method
					if(this.did_fetch_data){
						this.drawing(newCanvasRenderData,this.$props.dates,interval);	
					}
					
				},
				deep : true
			}
		},
		methods : {
			/***************************************
			 * EventHandler
			 **************************************/
			onFetchedProp(){
				const dom = document.querySelector('.p-dashboard__common-wrapper');

				if(dom.classList.contains("is-loading")){
					dom.classList.remove("is-loading");
				}

				this.did_fetch_data = true;
			}
		},		
	}
</script>