<docs>
	検索条件を設定するためのChild Componentです。

	対応状況・車種についてはpulldown変更に基づき、v-modelで2-way bindingに検索可能です。
	フリーワードのみ、「検索」ボタンを押下しないとデータは更新されません。
	（Too Many Request Exceptionを回避するため）

	一括送付済みボタンはこのComponent内では実行せず、カスタムイベントをParent Componentへ発行します		
</docs>

<template lang="pug">
	div
		.p-list__form
			.u-row1
				.p-list__form-select
					span.p-list__form-label 対応状況
					.u-posrel
						.c-ui__pulldown
							select(v-model="condition.react_status")
								option(value="") すべて
								option(v-for="(value,key) in status_types_map"  :value="key") {{ value }}
				.p-list__form-select(data-type="car-type")
					span.p-list__form-label 車種
					.u-posrel
						.c-ui__pulldown
							select(v-model="condition.licence_type")
								option(value="") すべて
								option(v-for="(value,key) in licence_types_map"  :value="key") {{ value }}
			.u-row2
				.p-list__form-keyword
					span.p-list__form-label フリーワード
					input.c-ui__freeword(
						type="text" placeholder="氏名・電話番号などで検索できます。" v-model="alias_freeword"  @keyup.enter="submit")
				.p-list__form-submit
					input.c-ui__submit(type="button" value="検索" @click.prevent="submit")
					i.fa.fa-search
				.p-list__form-exclude-btn
					label.p-list__form-label
						input.c-ui__checkbox(type="checkbox" v-model="condition.need_no_action")
						span.c-ui__checkboxIcon
						| 対応不要を表示
			.u-row3
				span.c-ui__basicbutton.c-ui__filebutton(@click.prevent.self="openCalendar($event)" style="color:#000;")
					i.fa.fa-check-square
					|  チェックをつけたユーザーを「送付済み」に変更
				.c-ui__calendar.u-posab(data-calendar-type="bulk-update-calendar")
					DatePicker(:inline="true" language="ja"  :format="format")
					.c-ui__calendar-footer
						button.c-ui__calendar-btn(data-btn-type="ensure"  @click.prevent="setReactedDate") 確定
						button.c-ui__calendar-btn(data-btn-type="cancel"  @click.prevent="closeCalendar") キャンセル
						label.c-ui__calendar-label(style="margin-top:-3px;")
							input.c-ui__checkbox(type="checkbox" v-model="disable_auto_send")
							span.u-posrel.c-ui__checkboxIcon 自動送信メールを送らない					
				a.c-ui__basicbutton.c-ui__filebutton(@click.prevent="downloadCsv"  style="color:#000;" v-if="role_csv")
					i.fa.fa-arrow-circle-down
					| CSVダウンロード
				.p-list__form-results
					|合計
					span {{ counts.toLocaleString() }}
					|件の検索結果
				span.c-ui__basicbutton.c-ui__filebutton(@click.prevent.self="print" style="color:#000;")
					i.fa.fa-check-square
					|  チェックをつけたユーザーの宛先を印刷する
		.c-ui__overlay(v-show="alert_is_opening")
			.c-alert-box
				p.c-alert-box__content {{ alert_text }}
				.u-m-auto.c-ui__flatbutton(data-btn-type="btn-ok" data-button="primary" @click.stop="closeAlert") OK
</template>

<script>
	// Vue Component
	import DatePicker from 'vuejs-datepicker'

	/**
	 * Mixin
	 *	 
	 * common_static_propety.js
	 *     + today (moment object)
	 *     + format
	 *
	 * common_dynamic_property.js
	 *     + entry_types_map
	 *     + licence_types_map
	 *     + status_types_map
	 *
	 * download_csv
	 *     - downloadCsv
	 *
	 */	
	import common_static_property from '../../../mixin/common_static_property'
	import common_dynamic_property from '../../../mixin/common_dynamic_property'
	import download_csv from '../../../mixin/download_csv'

	export default {
		components : {
			DatePicker
		},
		props : ["counts","condition","freeword"],
		mixins : [common_static_property,
				  common_dynamic_property,
				  download_csv],
		data(){
			return{
				alias_freeword  : "",           // Propsのデータを直接変更できないのでaliasと$emit('update:freeword')を経由してupdateする
				current_open_calendar : "",
				alert_text : "チェックがされていません。",
				alert_is_opening : false,
				disable_auto_send : false,
			}
		},
		computed: {
			role_csv(){
				return this.$store.state.role_csv;
			}
		},
		watch : {
			alias_freeword : {
				handler : function(newValue){
					this.$emit('update:freeword',newValue);
				}
			}			
		},
		methods : {
			/***************************************
			 * EventHandler
			 **************************************/			
			submit(){
				this.$emit('submit');
			},
			bulkUpdateReactedDate(params){
				this.$emit('bulkUpdateReactedDate',params);
			},

			/** Alert Handling **/
			openAlert(){
				this.alert_is_opening = true;				
			},
			closeAlert(){
				this.alert_is_opening = false;				
			},

			/** Calendar Handling **/			
			openCalendar(event){
				const checkedInputs = document.querySelectorAll('.p-list__table-row [data-colname="bulk-checkbox"] input:checked');

				if(!checkedInputs.length){
					this.openAlert();
					return false;
				}

				if(this.current_open_calendar) this.closeCalendar();
				
				event.target.nextSibling.style.display = "block";
				event.target.nextSibling.classList.add('is-open');
				const calendar_type = event.target.nextSibling.getAttribute('data-calendar-type');

				this.current_open_calendar = calendar_type;				
			},
			closeCalendar(){
				if(this.current_open_calendar){
					document.querySelector(`[data-calendar-type="${this.current_open_calendar}"]`).style.display = "none";
					document.querySelector(`[data-calendar-type="${this.current_open_calendar}"]`).classList.remove('is-open');
				}
				this.current_open_calendar = "";
			},
			setReactedDate(){
				const date = document.querySelector('.u-row3 input[type="hidden"]').value;

				if(date){
					const params = [date,this.disable_auto_send];

					this.closeCalendar();
					this.bulkUpdateReactedDate(params);	
				}else{
					this.alert_text = "日付を選択してください。";
					this.openAlert();
					return false;	
				}
				
			},
			print(){
				const checkedInputs = document.querySelectorAll('.p-list__table-row [data-colname="bulk-checkbox"] input:checked');				

				if(!checkedInputs.length){
					this.openAlert();
					return false;
				}
				
				this.$emit('print');
			}
		}
	}
</script>