//
// common layout in dashboard page
//
.u-ttlbar:before{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 19px;
    border-radius: 4px;
    background: #4abe0f;
    margin-right: 5px;
}
.u-buttonWrapper{       
    padding: 10px 25px 21px;
    display: flex;
    align-items: center;        
    justify-content: flex-end
}

.u-db{
    display: block;
}
.u-inb{
    display: inline-block;
}
.u-txal-center{
    text-align: center;
}

.u-posrel{
	position: relative;
}
.u-posab{
    position: absolute;
}

.u-fs24{
    font-size: 24px;
}

.u-flex{
    display: flex;
}
.u-jcsb{
    display: flex;
    justify-content: space-between;
}
.u-jcfe{
    display: flex;
    justify-content: flex-end;
}
.u-al-item-centre{
    align-items: center;
}

.u-ml30{
    margin-left: 30px;
}
.u-m-auto{
    margin: 0 auto;
}
.u-m-both10{
    margin: 0 10px !important;
}
.u-clearfix{
    overflow: hidden;
}
.u-float-l{
    float: left;
}
.u-float-r{
    float: right;
}

.u-row{
    display: flex;
    align-items: center;
}   
.u-row1{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.u-row2{
    display: flex;   
    align-items: center;
    margin-bottom: 10px;
}
.u-row3{
    margin-top: 10px;
}

.u-divider3{
    content: '';
    display: block;
    height: 3px;
}
.u-divider20{
    content: '';
    display: block;
    height: 20px;
}

.u-of-sc{
    overflow: scroll;
}
.u-of-auto{
    overflow: auto;
}
.u-error_message{
    color: #e80000;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    font-size: 12px;
}