//
// to override styling of 3rd party plugin's default style
//
//
.vdp-datepicker{
	margin-bottom: 3px;
}
.vdp-datepicker__calendar{	
	font-size: 14px;
	color: #333;
}
.vdp-datepicker__calendar .cell.today{
	background: #ffe2e2;
}
.vdp-datepicker__calendar .cell.selected, .vdp-datepicker__calendar .cell.selected.highlighted{
	background: #4bbe00 !important;
	color: #FFF;
}
.vdp-datepicker__calendar .cell:hover{
	border: 1px solid #4bbe00 !important;
}



.p-entering .p-list__table-col[data-colname="user-status"] .c-ui__calendar.is-popup{
	// position absolute adjustment
	right: 20px;
}