<docs>
	Rootコンポーネントは単に、Vue-routerに基づいて、
	どのコンポーネントを返すかを判定するだけの、Vueコンポーネントとして機能します。

	これはLogin前後のページで利用するテンプレートが異なるためです。
</docs>


<template lang="pug">
	.root
		.wrapper(:class="{'is-prohibit-print' : open_print}")
			Console#header.is-no-print
			#main
				router-view(@printForMultiUsers="printForMultiUsers")
			Sidebar#sidebar.is-no-print
		template(v-if="users && open_print")
			.p-print(v-for="user in users"  :class="{'is-for-regular' : print_type == 'regular'}")
				.p-print__target
					|〒 {{ user.zipcode }}
					br
					| {{ user.address }}
					br
					| {{ user.name }} 様
				template(v-if="print_type == 'small'")
					.p-print__divider-1
					.p-print__divider-2
</template>

<script>
	// Vue Component
	import Console         from './common/Header'
	import Sidebar         from './common/Sidebar'
	import Dashboard       from './pages/Dashboard'
	import EntryList       from './pages/EntryList'
	import InquiryList     from './pages/InquiryList'
	import BrochureList    from './pages/BrochureList'
	import CampaignList    from './pages/CampaignList'
	import TmpEnteringList from './pages/TmpEnteringList'
	import EnteringList    from './pages/EnteringList'
	import NoActionList    from './pages/NoActionList'
	import MailTemplate    from './pages/MailTemplate'

	export default {
		components : {
			Console,
			Sidebar,
			Dashboard,
			EntryList,
			InquiryList,
			BrochureList,
			CampaignList,
			TmpEnteringList,
			EnteringList,
			NoActionList,
			MailTemplate
		},
		data(){
			return {
				users : [],
				print_type : "",
			}
		},
		computed : {
			open_print(){
				return this.$store.state.open_print;
			},
			user(){
				return this.$store.state.current_user;
			},
			user_address(){
				return (this.user.address_pref || "") + (this.user.address_city || "") + (this.user.address_town || "");
			}
		},
		watch : {
			open_print : {
				handler : function(newValue){
					if(newValue == true){
						setTimeout(() => window.print(),400);
					}
				},
				deep : true
			},
			user : {
				handler : function(newValue){
					
					if(newValue){
						this.users = [];
						
						newValue.address = (newValue.address_pref || "") + (newValue.address_city || "") + (newValue.address_town || "");

						this.print_type = 'small';
						this.users = [newValue];	
					}
					
				},
				deep : true
			}
		},
		methods : {
			// カレンダー範囲外クリック対応
			detectTouchOutside(){
				const self = this;

				document.addEventListener('click',(e) => {
					
					// DocumentにAddEventListenerをすると、全ページで発火するため
					if(this.$store.state.current_page === 'dashboard'){

						if(e.target.className !== 'is-from' && e.target.className !== 'is-to'){
					
							const from = document.querySelector('.c-ui__calendar.is-from');
							const to   = document.querySelector('.c-ui__calendar.is-to');

							if(!$(e.target).closest('.c-ui__calendar.is-from').length){
								from.style.display = "none";	
							}
							if(!$(e.target).closest('.c-ui__calendar.is-to').length){
								to.style.display = "none";
							}
						
						}	
					}

					// DocumentにAddEventListenerをすると、全ページで発火するため
					if(this.$store.state.current_page !== 'dashboard' && this.$store.state.current_page !== 'mail-template'){

						if(e.target.className !== 'is-open'&& 
							e.target.className !== 'c-ui__freeword' && 
							e.target.className !== 'c-ui__basicbutton' &&
							e.target.className !== 'c-ui__basicbutton c-ui__filebutton'){
					
							const targets = document.querySelectorAll('.c-ui__calendar.is-open');

							if(targets && !$(e.target).closest('.c-ui__calendar.is-open').length){
								for(let target of targets){								
									target.style.display = "none";
									target.classList.remove('is-open');
								}
							}					
						
						}	
					}
										
				},false);
			},

			/***************************************************
			 * 印刷関連メソッド
			 ***************************************************/

			// チェックボックス上で選択したユーザーに対してデータを取得し印刷する
			printForMultiUsers(args){
				const self = this;
				const target_ids = args[0];
				
				self.print_type = args[1];

				axios.get('/api/fetch-specified-user-data',{
					params : {
						id : target_ids
					}
				}).then(res => {
					self.users = [];

					for(let user of res.data){
						// Null時の空文字cast
						user.zipcode      = user.zipcode ? user.zipcode : "";
						user.address_pref = user.address_pref ? user.address_pref : "";
						user.address_city = user.address_city ? user.address_city : "";
						user.address_town = user.address_town ? user.address_town : "";
						user.name         = user.name ? user.name : "";

						self.users.push({
							zipcode : user.zipcode,
							address : user.address_pref + user.address_city + user.address_town,
							name : user.name,
						})
					}
					
					self.$store.commit('setOpenPrintPreview',true);
				})
			},

			// プリント終了後の処理
			afterPrint(){
				this.$store.commit('setOpenPrintPreview',false);

				if(this.$store.state.current_page === 'brochure-list'){
					const checkedInputs = document.querySelectorAll('.p-list__table-row [data-colname="bulk-checkbox"] input:checked');

					if(checkedInputs.length){
						for(let input of checkedInputs){
							input.checked = false;
						}						
					}
				}				
			},
		},
		created(){
			const self = this;

			/**
			 * ユーザー詳細及び新規ユーザー作成コンポーネントがOpen時に、範囲外クリックされた時に、コンポーネントを閉じるためのAddEventListener
			 * Detail.vue/CreateUser.vueコンポーネント側に以下を登録してしまうと
			 * ページ遷移（brochure -> entry -> inquiry）のたびに、都度addEventListenerしてしまうので
			 * 意図せぬ動作になってしまう。
			 * Root.Vueであれば一度しか登録されないので、こちらで定義する
			 */
			document.addEventListener('click',(event) => {
				if(event.target === document.querySelector('.c-ui__overlay.is-for-edit.is-open')){					
					self.$store.commit('toggleDetailComponent');
					return false;
				}

				if(event.target === document.querySelector('.c-ui__overlay.is-for-create.is-open')){
					self.$store.commit('toggleCreateUserComponent');
					return false;
				}
			});



			document.addEventListener('DOMContentLoaded',() => {
				self.detectTouchOutside();
			},false);			


			if (window.matchMedia) {
				/**
				 * https://stackoverflow.com/questions/18325025/how-to-detect-window-print-finish
				 */
		        const mediaQueryList = window.matchMedia('print');
		        mediaQueryList.addListener((mql) => {
		            if (! mql.matches) {			                
		                self.afterPrint();
		            }
		        });
		    }else{
		    	window.onafterprint = () => { self.afterPrint(); }	
		    }			
		},		
	}
</script>