.p-campaign{
	.p-list__header-title > span{
		font-size: 65%;
		font-weight: normal;
		color: #777777;
		margin-left: 4px;
	}
	
	[data-colname="bulk-checkbox"]{
		position: relative;

		.c-ui__checkboxIcon::before{
			left: 0;
		}

		.c-ui__checkbox:checked + .c-ui__checkboxIcon::before{
			left: 0;
		}
	}
}