//
// header
//
.p-header{	
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #FFF;	
	box-shadow: 0 5px 5px 0 rgba(8,1,3,0.2);
	width: 100%;
	height: 52px;	
}
.p-header__title{
	margin: 0;
}
.p-header__logo{
	display: block;
	width: auto;
	max-height: 30px;	
	padding: 9px 15px 11px;
	vertical-align: middle;	
}
.p-header__account{
	display: flex;
	align-items: center;
	height: 100%;
	color: #333;
}
.p-header__account-name{
	display: flex;
	align-items: center;
	height: 32px;
	line-height: 31px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 12px;
	font-size: 12px;
	border-right: solid 1px #CCC;
}
.p-header__account-name .fa-user-circle-o{
	font-size: 24px;
	margin: 8px;
}

.p-header__account-console .fa.fa-cog{
	font-size: 28px;
	width: 42px;
	text-align: center;
}
.p-header__account-console,.p-header__account-console-icon{
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	align-items: center;
	height: 100%;
}	
.p-header__account-console .fa.fa-cog:hover{
	background: #f2f2f2;
	padding: 20px 0;
	z-index: 3;
}
.p-header__account-console-menu{
	display: none;	
	position: absolute;	
	top: 52px;
	right: 0;	
	width: 222px;	
	background: #f2f2f2;	
	font-size: 13px;
	line-height: 32px;
	box-shadow: 0 0 10px 0 #999;

	li{
		border-bottom: 1px solid #CCC;
	}
	li:last-child{
		border-bottom: none;
	}
}
.p-header__account-console:hover .p-header__account-console-menu{
	display: block;
}
.p-header__account-console-link{
	display: block;	
	padding-left: 15px;
	text-decoration: none;
	color: #727272;	
}
.p-header__account-console-link:hover{
	background: #7f7f7f;
	color: #FFF;
}
//
// sidebar
//
.p-sidenav__title{
	font-size: 13px;
	font-weight: bold;
	line-height: 48px;
	height: 48px;
	padding-left: 15px;
}
.p-sidenav__title:before{
	content: '\f2c3';
	font-size: 17px;
	margin-right: 10px;
	margin-top: 4px;
	font-weight: normal;
	font-family: FontAwesome;
}
.p-sidenav__item{
	font-size: 13px;
	height: 32px;
	line-height: 32px;
}
.p-sidenav__link{
	color: #727272;
	text-decoration: none;
	display: block;	
	height: 100%;
	padding-left: 25px;
}
.p-sidenav__link.is-current ,.p-sidenav__link:hover{
	background: #81dc52;
	color: #FFF;
	font-weight: bold;
	cursor: pointer;
}
.p-sidenav__unread-count{	
	border-radius: 8px;
	background: #e80000;
	color: #FFF;
	margin-left: 10px;
	padding: 0 5px;
	font-size: 10px;
	line-height: 16px;
	font-weight: normal;

	&.router-link-active{
		font-weight: bold;	
	}
}
//
// List Header & Search Form
//
// list & searchform
.p-list__header{
	margin-bottom: 20px;
}
.p-list__header-title{
	background: #FFF;
	color: #333;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 15px;	
	box-sizing: border-box;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.p-list__form{
	margin: 10px 0;
}
.p-list__form-select{	
	overflow: hidden;
	padding-right: 9px;
}
.p-list__form-label{
	float: left;
	font-size: 12px;
	color: #333;
	padding: 0 6px;
	display: block;
	height: 33px;
	line-height: 33px;	
}
.p-list__form-exclude-btn .p-list__form-label{
	margin-left: -3px;
}
.p-list__form-select .u-posrel{
	float: left;
}
.p-list__form-select[data-id="car-type"] .c-ui__pulldown{
	max-width: 188px;
}
.p-list__form-keyword{
	display: flex;
	align-items: center;
}
.p-list__form-submit{
	position: relative;
	margin: 0 10px 0 5px;	
}
.p-list__form-exclude-btn{
	display: flex;
	align-items: center;
}
.p-list__form .c-ui__filebutton{
	margin-right: 17px;
}
.p-list__form-results{
    font-size: 12px;
    line-height: 30px;
    color: #999;
    float: right;
    margin-right: 1em;

    span{    	
	    font-weight: bold;
	    font-size: 14px;
	    color: #777;
    }
}
//
// List Table Style
//
.p-list__table{
	font-size: 12px;	
}
.p-list__table table{
	width: 100%;
	table-layout: fixed;
}
.p-list__table-head{
	background: #4bbe00;
	color: #FFF;
}
.p-list__table-head .p-list__table-row{
	height: 50px;	
}
.p-list__table-head .p-list__table-col{
	border: solid 1px #399000;
	vertical-align: middle;
}
.p-list__table-body{
	background: #FFF;
	color: #333;	
}
// .p-list__table-body .c-ui__checkboxIcon{
.p-list__table-col[data-colname="bulk-checkbox"] .c-ui__checkboxIcon{
	top: calc(50% - 7px);
	left: calc(50% - 10px);
	position: absolute;
	vertical-align: middle;
	margin-right: 1.8em;
}
.p-list__table-body .p-list__table-row.is-ongoing{
	background: #ffe2e2;
}
.p-list__table-body .p-list__table-row:hover,
.p-list__table-body .p-list__table-row.is-ongoing:hover{
	background: #fff9c3;
}
.p-list__table-body .p-list__table-col{
	border: solid 1px #999999;
	padding: 5px;
	vertical-align: middle;
}
.p-list__table-body .p-list__table-col a{
	color: #008bff;
	text-decoration: none;
	
	&:hover{
		color: #0061b3;
		text-decoration: underline;
	}
}
.p-list__table-col{
	box-sizing: border-box;

	&[data-colname="bulk-checkbox"]{
		// position: relative;
		width: 32px;
	}
	&[data-colname="entry-type"]{
		width: 75px;
	}
	&[data-colname="entry-date"]{
		width: 125px;
	}
	&[data-colname="user-name"]{
		width: 85px;

		a{
			cursor: pointer;
		}
	}
	&[data-colname="user-tel"]{
		width: 100px;
	}
	&[data-colname="user-mail"]{
		word-break: break-all;
	}
	&[data-colname="user-zipcode"]{
		width: 70px;
	}
	&[data-colname="user-address"]{
		word-break: break-all;
	}
	&[data-colname="licence-type"]{
		width: 103px;
	}
	&[data-colname="react-date"]{
		width: 86px;
	}
	&[data-colname="user-status"]{
		width: 68px;
	}
	&[data-colname="react-interval"]{
		width: 66px;
	}
	&[data-colname="react-status"]{
		width: 72px;
	}
	&[data-colname="detail"]{
		width: 86px;
	}
}
.p-list__table-col > .c-ui__basicbutton{
	padding: 5px;	
}
//
// Detail
//
.p-detailBox .c-ui__calendar.is-popup{
	top: 10px;
	left: 10px;
	margin-bottom: 40px;
}
.p-detailBox__inner{
	position: fixed;
	top: 0;
	right: -667px;
	z-index: 2;
	width: 667px;
	height: 100%;
	overflow: auto;
	padding-bottom: 20px;
	background: #f2f2f2;
	box-shadow: 10px 0 10px 10px rgba(0, 0, 0, 0.35);
	transition: right .3s linear 0s;
}
.p-detailBox__inner.is-open{
	right: 0;
}
.p-detailBox__ttl{
	font-size: 16px;
	font-weight: bold;
	margin: 72px 0 16px 30px;
	color: #333;
	line-height: 1;
}
.p-detailBox__print-btn{
	display: inline-block;
	position: absolute;
	top: 65px;
	right: 33px;
}

// button parts (defined by custom data property)
[data-button="primary"]{
	background: #4bbe00;
	border: solid 1px #399000;
	color: #FFF;
	text-align: center;
}
[data-button="gray"]{
	background: #bababa;
	border: solid 1px #999999;
	color: #FFF;
	text-align: center;
}


//
// Mail Form
//
.p-mailform__box{
	margin: 85px auto;
	width: 627px;
	background: #F2F2F2;
}
.p-mailform__header{
	background: #4bbe00;
	padding: 0 12px;
}
.p-mailform__header-title{
	font-size: 16px;
	font-weight: bold;
	height: 43px;
	line-height: 43px;
	color: #FFF;	
}
.p-mailform__header-closebtn{
	font-size: 26px;
	color: #FFF;

	&:hover{
		cursor: pointer;
	}
}
.p-mailform__body{
	padding: 12px;
}
.p-mailform__body-footer{
	padding-top: 10px;
}
//
// Memo Editor
//
.p-memoEditor__box{
	margin: 85px auto;
	width: 627px;
	background: #F2F2F2;
}
.p-memoEditor__header{
	background: #4bbe00;
	padding: 0 12px;
}
.p-memoEditor__header-title{
	font-size: 16px;
	font-weight: bold;
	height: 43px;
	line-height: 43px;
	color: #FFF;	
}
.p-memoEditor__header-closebtn{
	font-size: 26px;
	color: #FFF;
}
.p-memoEditor__body{
	padding: 12px;
}
.p-memoEditor__body-form  .c-vtc-table__head[data-colname="mail_content"],
.p-memoEditor__body-form  .c-vtc-table__head[data-colname="confirm_mail_content"],
.p-memoEditor__body-form  .c-vtc-table__body[data-colname="confirm_mail_content"]{
	vertical-align: top;
}
.p-memoEditor__body-form	.c-vtc-table__body[data-colname="target"],
.p-memoEditor__body-form	.c-vtc-table__body[data-colname="inquiry_title"],
.p-memoEditor__body-form	.c-vtc-table__body[data-colname="inquiry_content"],
.p-memoEditor__body-form	.c-vtc-table__body[data-colname="licence_type"],
.p-memoEditor__body-form	.c-vtc-table__body[data-colname="confirm_title"],
.p-memoEditor__body-form	.c-vtc-table__body[data-colname="confirm_mail_content"]{
	padding: 10px 7px;	
}
.p-memoEditor__body-form	.c-vtc-table__body[data-colname="confirm_mail_content"]{
	height: 332px;
	overflow: scroll;
}
.p-memoEditor__body-footer{
	padding-top: 10px;
}


// print
.p-print.is-for-regular{
	margin:0 auto;
}
.p-print__target{
	page-break-before: always;
	margin-top:41.574803px;
	margin-left:83.149606px;
	font-size: 14px;
	width:340.15748px;
	height: 170.07874px;
	box-sizing: border-box; 
	border: 1px dashed #DDD; 
	padding: 37.795276px;
}
.is-for-regular .p-print__target{
	float:left;
}
.p-print__divider-1{
	position: relative;
	content: '';
	width: 100%;
	height:1px; 	
	margin-top: 230.551181px;
}
.p-print__divider-2{
	position: relative;
	content: '';
	width: 100%;
	height:1px; 	
	margin-top: 351.496063px;
}
.p-print__divider-1::before,
.p-print__divider-2::before{
	position: absolute;
	bottom: -2.5px;
	left: 0;
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 0 5px 8.7px;
	border-color: transparent transparent transparent #dddddd;
}


@media screen{
	.p-print {
		display: none;
	}	
}
@media print{
	body{
		background: #FFF;
	}
	.wrapper.is-prohibit-print {
		display: none;
	}	
	.is-no-print,
	.p-googleMap .is-no-print {
		display: none !important;
	}



	#main{
		position: static;
		margin: 0 auto;
		width: 70%;
	}
	#map{
		height: 500px !important;
		overflow: hidden;
	}	
	.p-googleMap{	
		overflow: hidden;
	}
	

	.p-print { 
		display: block;
	}	
	.p-print__target{
		border:none;
	}
	.is-for-regular .p-print__target{
		page-break-inside: avoid;		
		margin: 5px;
	}
}