//
// dashboard common
//
.p-dashboard{
	.c-ui-pulldown select,.c-ui-pulldown input{
		height: 33px;
		border-radius: 5px;
		padding: 0 15px 0 5px;
		border: solid 1px #cccccc;
		box-sizing: border-box;
		font-size: 12.5px;
		color: #727272;
		background: #FFF;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		outline: 0;
		position: relative;
	}
	.c-ui-pulldown select{
		min-width: 112px;
		width: 170px;
	}
	.c-ui-pulldown input{	
		width: 130px;
	}
	.c-ui-pulldown::after{
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 4.5px;
		border-color: #cccccc transparent transparent transparent;
		display:block;
	    content: "";    
	    position: absolute;    
	    top: 13px;
	    right: 12px;
	}	
}
.p-dashboard__common-bg{
	background: #FFF;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-bottom: 14px;
}
.p-dashboard__common-title{
	position: relative;
	padding-left: 12px;
	height: 19px;
	line-height: 19px;	
	font-size: 14px;
	font-weight: bold;
}
.p-dashboard__common-wrapper.is-loading{
	text-align: center;
	margin: 0 auto;		
}
//
// dashboard navbar
//
.p-navbar{
	padding: 7px 5px 7px 15px;	
	overflow: hidden;
}
.p-navbar__title{
	font-size: 16px;
	line-height: 33px;
	font-weight: bold;
	float: left;
}
.p-navbar__calendar{
	float: right;
	display: flex;
	align-items: center;
}
.p-navbar__calendar-range{
	padding: 0 4px;
	font-size: 12px;
}
//
// dashboard monitor
//
.p-monitor{
	display: flex;		
	padding: 15px 30px;
}
.p-monitor__item{
	font-size: 12px;
	margin-right: 25px;
	text-align: center;
	line-height: 1.6;
	
	&[data-keyname="entry"]{
		color: #f18200;
		margin-right: 30px;
		text-align: left;		
	}
	&[data-keyname="brochure"],&[data-keyname="tmp_entering"],&[data-keyname="inquiry"],&[data-keyname="other"]{
		padding-top: 8px;
	}
	&[data-keyname="entering"]{
		color: #e80000;
		padding-left: 25px;
		border-left: solid 1px #f2f2f2;		
	}
}
//
// dashboard stuckbarchart
//
.p-stuck-bar-chart{
	padding: 21px 22px 20px;	
}
.p-stuck-bar-chart__table{	
	font-size: 12px;
	text-align:center;
	vertical-align: middle;	
	// margin-left: 16px;
	overflow: scroll-x;
}
.p-stuck-bar-chart__table-row{
	display: flex;	
}
.p-stuck-bar-chart__table-row:last-child .p-stuck-bar-chart__table-header,
.p-stuck-bar-chart__table-row:last-child .p-stuck-bar-chart__table-field{
	border-bottom: 1px solid #CCC;
}
.p-stuck-bar-chart__table-header,
.p-stuck-bar-chart__table-field{
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	box-sizing: border-box;
	padding: 0;		
	display: inline-block;
	height: 29.5px;
	line-height: 29.5px;
}
.p-stuck-bar-chart__table-header:last-child,
.p-stuck-bar-chart__table-field:last-child{
	border-right: 1px solid #CCC;	
	box-sizing: border-box;
}
.p-stuck-bar-chart__table-header{
	font-weight: normal;
	text-align: left;
	width: 173px;
	overflow: hidden;	
}
.p-stuck-bar-chart__table-field{
	width: 79px;
}
.p-stuck-bar-chart__table-row:nth-child(odd) .p-stuck-bar-chart__table-header{
	background: #F2F2F2;
}
.p-stuck-bar-chart__table-row:nth-child(even) .p-stuck-bar-chart__table-header,
.p-stuck-bar-chart__table-row:nth-child(odd) .p-stuck-bar-chart__table-header{
	background: #FAFAFA;
}
//
// dashboard barchart
//
.p-barchart{
	overflow: hidden;
}
.p-barchart > .p-dashboard__common-bg{
	box-sizing: border-box;
	float: left;
	width: calc(50% - 5px);
	padding: 11px 12px;
}
.p-barchart > .p-dashboard__common-bg:first-of-type{
	margin-right: 10px;
}
.p-barchart .p-dashboard__common-bg .p-dashboard__common-title{
	margin: 9px 10px 0;
}

.p-barchart__table{
	font-size: 12px;
	width: 100%;
	margin-top: 15px;

	tbody{
		border-top: solid 1px #cccccc;
		border-bottom: solid 1px #cccccc;
	}
	tbody tr:nth-child(2n+1){
		background: #fafafa;
	}
	tr{
		line-height: 33px;
	}
	[data-colname="key"]{
		white-space: nowrap;
		width: 59.53%;
		padding-left: 5px;
		text-align: left;
	}
	[data-colname="apply"]{
		text-align: right;
		padding-right: 7px;
	}	
	[data-colname="barchart"]{		
		width: 24.8%;
		vertical-align: middle;

		span{
			display: block;
			height: 14px;			
			background: #4abe0f;
		}
	}
	[data-colname="percentage"]{
		text-align: right;
		padding-left: 5px;
		padding-right: 9px;
	}


	tfoot [data-colname="apply"]{
		font-weight: bold;
	}	
}
.p-barchart__school-header,.p-barchart__channel-header{
	display: flex;
	justify-content: space-between;
	position: relative;
}
//
// dashboard googlemap
//
.p-googleMap{
	padding: 22px 12px;

	.p-dashboard__common-title{
		margin: 0 10px 22px;
	}	
}	
.p-googleMap__header{
	margin-bottom: 22px;
	min-width: 980px;
}
.p-googleMap__narrowdown_label{
	font-size: 12px;
	display: flex;
	align-items: center;

	i{
		display: block;
		width: 25px;
		height: 25px;
		margin-left: -10px;
		display: block;
		background: url('/images/yellow.png') no-repeat;
		background-size: cover;
	}
	i[data-user-icon-type="entered"]{		
		background: url('/images/red.png') no-repeat;
		background-size: cover;
	}	
}
.p-googleMap__narrowdown-checkbox{
	margin: 0 10px;
}
.p-googleMap__narrowdown_by_lic{
	position: relative !important;
}

canvas#stage{
	overflow: scroll;
}