.p-file-upload__common-bg{
	background: #FFF;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)	
}
.p-file-upload__lead{
	font-size: 16px;
	line-height: 33px;
	font-weight: bold;
	margin-bottom: 1em;
}
.p-file-upload__lead-meta{
	font-size: 12px;
	color: #666;
}
.p-file-upload__download-link{
	display: block;
	font-size: 11px;
	padding: 0.3em 1em;
}
.p-file-upload__upload-box{
	display: flex;
	justify-content: space-between;
	width: 50%;
	align-items: center;
	margin: 40px 0 0 ;
	padding: 0 0.5em;
}