//
// p-list (only applied in inquiry-list page)
//
.p-inquiry{
	.p-list{
		position: relative;
	}
	.p-list__table-col[data-colname="react-date"] .c-ui__basicbutton{	
		font-size: 10px;	
	}	
	.p-list__table-body .p-list__table-row.is-ongoing .p-list__table-col[data-colname="react-date"] span{
		color: #e80000;
	}	
}