.p-login-form{
	position: absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
	z-index:-1;
	background-image: url('/images/dot.png'), url('/images/login_back.jpg');
	background-repeat: repeat, no-repeat;
	background-size: auto, cover;
}
.p-login-form__box{
	position: absolute;
	width: 627px;
	height: 202px;		
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
}
.p-login-form__box-header{
	height: 43px;
	line-height: 43px;
	padding: 0 15px;
	color: #FFF;
	background: #4bbe00;	
}
.p-login-form__box-body{
	padding: 11px 13px 18px 13px;
	background: #FFF;
}
.p-login-form__form-group{
	width: 600px;
	font-size: 12px;
	text-align: left;

	th{
		background: #f0f0f0;
		vertical-align: middle;
		width: 24%;
		height: 40px;
		padding-left: 8px;
		border: solid 1px #999999;
		box-sizing: border-box;
	}
	td{
		background: #FFF;
		width: 76%;
		height: 40px;		
		padding: 3px 2px;
		border: solid 1px #999999;
		box-sizing: border-box;
	}
}
.p-login-form__form-group .c-ui__freeword{
	background: rgb(250, 255, 189);	
	width: 100%;
}
.p-login-form__submit-btn{
	margin: 15px auto 0 !important;
}
.p-login .c-ui__overlay{
	width: 100%;
	padding-left: 0;
}