.p-template input[type="radio"]{
	display: none;
}

.p-template__header-title{
	background: #FFF;
	color: #333;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 15px;	
	box-sizing: border-box;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-bottom: 15px;
}
.p-template__content{
	padding: 21px;
	background: #FFF;
	box-shadow: 0 0 3px #cccccc;
	margin-bottom: 25px;
	min-width: 380px;
}
.p-template__register{
	display: block;		
	width: 86%;
	height: 33px;
	line-height: 33px;		
	margin: 0 auto;
	padding: 0;
	color: #FFF;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	background: #4bbe00;
	border: solid 1px #399000;
	border-radius: 5px;
	cursor: pointer;

	&:hover{
		opacity: 0.8;
	}
}
.p-template__register.is-disabled{
	border: solid 1px #999999;
	background: #bababa;

	&:hover{
		opacity: 1.0;
	}
}


.p-register-box{
	font-size: 12px;
	margin-bottom: 35px;

	table{
		width: 100%;
		box-sizing: border-box;
		text-align: left;
	}
	th{
		background: #4bbe00;
		border: solid 1px #399000;
		color: #FFF;
		width: 126px;
		padding: 12px 7px;
		vertical-align: top;
		box-sizing: border-box;			
	}
	td{
		vertical-align: middle;
		padding: 3px;
		background: #FFF;
		color: #333;
		border: solid 1px #999999;
	}
}
.p-register-box__button{
	overflow: hidden;
	margin: 7px 0 25px;
}	
.p-register-box__config{
	display: flex;
	align-items: center;
	justify-content: space-between;

	.c-ui__remove{
		margin-right: 5px;
	}
}
.p-register-box__name > .c-ui__freeword{
	max-width: 220px;
}
.p-register-box__mail-title > .c-ui__freeword{
	width: 100%;
}