.p-tmpEntering{
	.p-list__table-col[data-colname="react-date"] .c-ui__basicbutton{	
		font-size: 10px;	
	}
	.p-list__table-row.is-ongoing{
		background: #ffe2e2;	
	}
	.p-list__table-row.is-ongoing .p-list__table-col[data-colname="react-date"] span{
		color: #e80000;
	}
}