<template lang="pug">
	.p-detailBox.is-for-edit
		.c-ui__overlay.is-for-edit.is-close(onClick="")
			form.p-detailBox__inner.is-close(method="POST"  action='/api/update-user')
				input(type="hidden" name="_token"  :value="csrf")
				input(type="hidden" name="_method" value="put")
				.p-detailBox__ttl ユーザー情報詳細
				a.c-ui__basicbutton.c-ui__filebutton.p-detailBox__print-btn(style="color: rgb(0, 0, 0)" @click.prevent="printForSmallEnvelop") 宛先を印刷する
				table.c-vtc-table
					tr(v-if="showable_items.includes('entry_type')")
						th.c-vtc-table__head(data-colname="dtl-entry-type") エントリー種別
						td.c-vtc-table__body(data-colname="dtl-entry-type")
							.c-ui__pulldown
								select(v-model="user.entry_type")
									option(value="" disabled) エントリー種別を選択
									option(v-for="(entry_type,e_key) in entry_types_map"  :value="e_key") {{ entry_type }}
					tr(v-if="showable_items.includes('entry_date')")
						th.c-vtc-table__head(data-colname="dtl-entry-date") エントリー日時
						td.c-vtc-table__body(data-colname="dtl-entry-date") {{ user.entry_date }}
					tr(v-if="showable_items.includes('licence_type')")
						th.c-vtc-table__head(data-colname="dtl-licence-type") 免許種別
						td.c-vtc-table__body(data-colname="dtl-licence-type")
							.c-ui__pulldown
								select(v-model="user.licence_type")
									option(value="") 免許種別を選択
									option(v-for="(licence_type,l_key) in licence_types_map"  :value="l_key") {{ licence_type }}
					tr(v-if="showable_items.includes('student_no')")
						th.c-vtc-table__head(data-colname="dtl-user-student-no") 教習生番号
						td.c-vtc-table__body(data-colname="dtl-user-student-no")
							input.c-ui__freeword(type="text" v-model="user.student_no")
					tr(v-if="showable_items.includes('name')")
						th.c-vtc-table__head(data-colname="dtl-user-name") 氏名（漢字）
						td.c-vtc-table__body(data-colname="dtl-user-name")
							input.c-ui__freeword(type="text" v-model="user.name")
					tr(v-if="showable_items.includes('kana')")
						th.c-vtc-table__head(data-colname="dtl-user-kana") 氏名（フリガナ）
						td.c-vtc-table__body(data-colname="dtl-user-kana")
							input.c-ui__freeword(type="text" v-model="user.kana")
					tr(v-if="showable_items.includes('email')")
						th.c-vtc-table__head(data-colname="dtl-user-mail") メールアドレス
						td.c-vtc-table__body(data-colname="dtl-user-mail")
							input.c-ui__freeword(type="text" v-model="user.email")
					tr(v-if="showable_items.includes('zipcode')")
						th.c-vtc-table__head(data-colname="dtl-user-zipcode") 郵便番号
						td.c-vtc-table__body(data-colname="dtl-user-zipcode")
							input.c-ui__freeword(type="text" v-model="user.zipcode")
					tr(v-if="showable_items.includes('address_pref')")
						th.c-vtc-table__head(data-colname="dtl-user-address") 住所
						td.c-vtc-table__body(data-colname="dtl-user-address")
							span 都道府県
							.c-ui__pulldown
								select(v-model="user.address_pref" @change="getNewCityList")
									option(value="") 都道府県を選択
									option(v-for="pref in pref_list"  :value="pref") {{ pref }}
							span 市区郡
							.c-ui__pulldown
								select(v-if="user" v-model="user.address_city")
									option(value="") 市区郡を選択
									option(v-for="city in cityList"  :value="city") {{ city }}
								select(v-else)
									option(value="") 市区郡を選択
							.u-divider3
							.u-row
								span 市区郡以下
								input.c-ui__freeword(type="text" v-model="user.address_town")
					tr(v-if="showable_items.includes('tel')")
						th.c-vtc-table__head(data-colname="dtl-user-tel") 電話番号
						td.c-vtc-table__body(data-colname="dtl-user-tel")
							input.c-ui__freeword(type="text" v-model="user.tel")
					tr(v-if="showable_items.includes('tel2')")
						th.c-vtc-table__head(data-colname="dtl-user-tel") 電話番号２
						td.c-vtc-table__body(data-colname="dtl-user-tel")
							input.c-ui__freeword(type="text" v-model="user.tel2")
					tr(v-if="showable_items.includes('age')")
						th.c-vtc-table__head(data-colname="dtl-user-age") 年齢
						td.c-vtc-table__body(data-colname="dtl-user-age")
							.c-ui__pulldown
								select(v-model="user.age")
									option(value="") 年齢を選択
									option(v-for="n in age_list"  :value="n") {{ n }} 
							span 歳
					tr(v-if="showable_items.includes('birthday')")
						th.c-vtc-table__head(data-colname="dtl-user-bitrh") 生年月日
						td.c-vtc-table__body(data-colname="dtl-user-birth")
							.u-flex.u-al-item-centre
								.c-ui__pulldown
									select(v-model="user.birth_year").is-small
										option(value="") 年を選択
										option(v-for="n in birth_year_list"  :value="n") {{ n }} 
								span(style="margin-left:10px;") 年　　
								.c-ui__pulldown
									select(v-model="user.birth_month").is-small
										option(value="") 月を選択
										option(v-for="n in birth_month_list"  :value="n") {{ n }} 
								span(style="margin-left:10px;") 月　　
								.c-ui__pulldown
									select(v-model="user.birth_day").is-small
										option(value="") 日を選択
										option(v-for="n in birth_day_list"  :value="n") {{ n }} 
								span(style="margin-left:10px;") 日　　
					tr(v-if="showable_items.includes('sex')")
						th.c-vtc-table__head(data-colname="dtl-user-sex") 性別
						td.c-vtc-table__body(data-colname="dtl-user-sex")
							.c-ui__pulldown
								select(v-model="user.sex")
									option(value="") 性別を選択
									option(value="男") 男
									option(value="女") 女					
					tr(v-if="showable_items.includes('occupation')")
						th.c-vtc-table__head(data-colname="dtl-user-occupation") 職業
						td.c-vtc-table__body(data-colname="dtl-user-occupation")
							input.c-ui__freeword(type="text" v-model="user.occupation")
					tr(v-if="showable_items.includes('school')")
						th.c-vtc-table__head(data-colname="dtl-user-school") 学校
						td.c-vtc-table__body(data-colname="dtl-user-school")
							input.c-ui__freeword(type="text" v-model="user.school")
					tr(v-if="showable_items.includes('via_routes')")
						th.c-vtc-table__head(data-colname="dtl-via-route") エントリー経路
						td.c-vtc-table__body(data-colname="dtl-via-route")
							.c-ui__pulldown
								select(v-model="user.via_routes")
									option(value="" disabled) エントリー経路を選択
									option(v-for="(via_routes,v_key) in via_routes_map"  :value="via_routes") {{ via_routes }}
					tr(v-if="showable_items.includes('general1')")
						th.c-vtc-table__head(data-colname="dtl-free-text") {{ general_map.general1 }}
						td.c-vtc-table__body(data-colname="dtl-free-text")
							input.c-ui__freeword(type="text" v-model="user.general1")
					tr(v-if="showable_items.includes('general2')")
						th.c-vtc-table__head(data-colname="dtl-free-text") {{ general_map.general2 }}
						td.c-vtc-table__body(data-colname="dtl-free-text")
							input.c-ui__freeword(type="text" v-model="user.general2")
					tr(v-if="showable_items.includes('general3')")
						th.c-vtc-table__head(data-colname="dtl-free-text") {{ general_map.general3 }}
						td.c-vtc-table__body(data-colname="dtl-free-text")
							input.c-ui__freeword(type="text" v-model="user.general3")
					tr(v-if="showable_items.includes('general4')")
						th.c-vtc-table__head(data-colname="dtl-free-text") {{ general_map.general4 }}
						td.c-vtc-table__body(data-colname="dtl-free-text")
							input.c-ui__freeword(type="text" v-model="user.general4")
					tr(v-if="showable_items.includes('general5')")
						th.c-vtc-table__head(data-colname="dtl-free-text") {{ general_map.general5 }}
						td.c-vtc-table__body(data-colname="dtl-free-text")
							input.c-ui__freeword(type="text" v-model="user.general5")
					tr(v-if="showable_items.includes('general6')")
						th.c-vtc-table__head(data-colname="dtl-free-text") {{ general_map.general6 }}
						td.c-vtc-table__body(data-colname="dtl-free-text")
							input.c-ui__freeword(type="text" v-model="user.general6")
					tr(v-if="showable_items.includes('general7')")
						th.c-vtc-table__head(data-colname="dtl-free-text") {{ general_map.general7 }}
						td.c-vtc-table__body(data-colname="dtl-free-text")
							input.c-ui__freeword(type="text" v-model="user.general7")
					tr(v-if="showable_items.includes('general8')")
						th.c-vtc-table__head(data-colname="dtl-free-text") {{ general_map.general8 }}
						td.c-vtc-table__body(data-colname="dtl-free-text")
							input.c-ui__freeword(type="text" v-model="user.general8")
					tr(v-if="showable_items.includes('general9')")
						th.c-vtc-table__head(data-colname="dtl-free-text") {{ general_map.general9 }}
						td.c-vtc-table__body(data-colname="dtl-free-text")
							input.c-ui__freeword(type="text" v-model="user.general9")
					tr(v-if="showable_items.includes('general10')")
						th.c-vtc-table__head(data-colname="dtl-free-text") {{ general_map.general10 }}
						td.c-vtc-table__body(data-colname="dtl-free-text")
							input.c-ui__freeword(type="text" v-model="user.general10")
					tr(v-if="showable_items.includes('react_status')")
						th.c-vtc-table__head(data-colname="dtl-user-status") 状況
						td.c-vtc-table__body(data-colname="dtl-user-status")
							.c-ui__pulldown
								select(v-model="user.react_status")
									option(value="" disabled) 入所状況を選択
									option(v-for="(react_status,s_key) in status_types_map"  :value="s_key") {{ react_status }}
					tr(v-if="showable_items.includes('react_date')")
						th.c-vtc-table__head(data-colname="dtl-react-date") 対応日
						td.c-vtc-table__body(data-colname="dtl-react-date")
							div(style="position:relative")
								input.c-ui__freeword(
									type="text"
									data-calendar-type="react_date_for_edit"
									placeholder="対応日を入力"								
									v-model="user.react_date"
									@click="openCalendar($event)")
								.c-ui__calendar.is-popup
									DatePicker(:inline="true" language="ja"	 :format="format")
									button.c-ui__calendar-btn(data-btn-type="ensure" @click.prevent="updateReactedDate") 確定
									button.c-ui__calendar-btn(data-btn-type="remove" @click.prevent="removeReactedDate" v-if="user.react_date") 削除
									button.c-ui__calendar-btn(data-btn-type="cancel" @click.prevent="closeCalendar") キャンセル
					tr(v-if="showable_items.includes('entered_date')")
						th.c-vtc-table__head(data-colname="dtl-entered-date") 入所日
						td.c-vtc-table__body(data-colname="dtl-entered-date")
							div(style="position:relative")
								input.c-ui__freeword(
									type="text"
									data-calendar-type="entered_date_for_edit"
									placeholder="入校日を入力"								
									v-model="user.entered_date"
									@click="openCalendar($event)")
								.c-ui__calendar.is-popup
									DatePicker(:inline="true"  language="ja"  :format="format"  @change="setEnteredDate($event)")
									button.c-ui__calendar-btn(data-btn-type="ensure" @click.prevent="updateEnteredDate") 確定
									button.c-ui__calendar-btn(data-btn-type="remove" @click.prevent="removeEnteredDate" v-if="user.entered_date") 削除
									button.c-ui__calendar-btn(data-btn-type="cancel" @click.prevent="closeCalendar") キャンセル
					tr(v-if="showable_items.includes('dm_flag')")
						th.c-vtc-table__head(data-colname="dtl-dmflag") DM許可
						td.c-vtc-table__body(data-colname="dtl-dmflag")
							label.u-db
								input.c-ui__checkbox(type="checkbox" v-model="user.dm_flag")
								span.c-ui__checkboxIcon(style="top:1px;")
								| &nbsp;チェックありでDM許可
				.p-detailBox__buttons(v-if="user")
					ul.u-buttonWrapper
						li.c-ui__flatbutton(data-btn-type="btn-close" data-button="gray" @click="toggleDetailBox(false)") 閉じる
						li.c-ui__flatbutton(data-btn-type="btn-save" data-button="primary" @click="updateUser") 保存
						li.c-ui__flatbutton(data-btn-type="btn-save-and-close" data-button="primary" @click="updateUser") 保存して閉じる
				div(v-if="user")
					table.c-vtc-table
						th.c-vtc-table__head(data-colname="dtl-history") 対応履歴
						td.c-vtc-table__body(data-colname="dtl-history")
							ul(v-for="history in histories")
								li.c-history(:data-history-type="history.history_type")
									span.c-history__icon
										i(:class="getIconClass(history.history_type)")
										|{{ history_types_map[history.history_type] }}
									span.c-history__time {{ parseTime(history.date) }}
									span.c-history__summary(v-if="history.title")
										a(href="#" @click.prevent="openNoteEditor(history)") {{ truncate(history.title) }}				
					.p-detailBox__buttons
						ul.u-buttonWrapper
							li.c-ui__flatbutton(data-btn-type="btn-memo" data-button="primary" @click="openNoteEditor") 対応メモ
							li.c-ui__flatbutton(data-btn-type="btn-send-mail" data-button="primary" @click="openMailForm") メール送信
				.u-divider20
		Memo(
			@refreshUserData="refreshUserData"
			@closeEditor="closeNoteEditor" 
			:memo_bg_is_opening="memo_bg_is_opening"
			:editor_type="editor_type")
		MailForm(
			:licence_types_map="licence_types_map"
			:mail_purpose="mail_purpose"
			:mailform_bg_is_opening="mailform_bg_is_opening"
			@closeMailForm="closeMailForm")
		.c-ui__overlay.is-alert-layer
		.c-ui__overlay(v-show="alert_is_opening")
			.c-alert-box
				p.c-alert-box__content {{ alert_text }}
				.u-m-auto.c-ui__flatbutton(data-btn-type="btn-ok" data-button="primary" @click="closeAlert") OK		
</template>

<script>
	// Vue Component
	import DatePicker from 'vuejs-datepicker'
	import Memo from './Memo'
	import MailForm from './MailForm'

	// Mixin	
	import common_static_property from '../mixin/common_static_property'
	import common_dynamic_property from '../mixin/common_dynamic_property'
	import detail_common_methods from '../mixin/detail_common_methods'

	// 3rd Party Lib
	const moment = require('moment')

	// Configuration
	const city_address_rawdata = require('../config/cities.json');	

	export default {
		components : {
			DatePicker,
			Memo,
			MailForm
		},
		mixins : [common_static_property,common_dynamic_property,detail_common_methods],
		data(){
			return {
				// config		
				city_address_rawdata,

				alert_text : '',
				alert_is_opening : false,

				mailform_bg_is_opening : false,
				memo_bg_is_opening : false,

				editor_type : 'edit',
				
				new_city_list : [],
				user : {},

				// calendar related
				current_open_calendar : '',

				mail_purpose : "general",
			}
		},
		computed : {
			is_open(){
				return this.$store.state.detail_is_opening;
			},
			// Computedプロパティは直接変更できないので、watcherと組み合わせて、変更可能なdataプロパティを作る
			as_is_user(){
				const user = _.clone(this.$store.state.reference_user);

				if(user.birthday){
					user.birth_year  = user.birthday.split('-')[0];
					user.birth_month = user.birthday.split('-')[1];
					user.birth_day   = user.birthday.split('-')[2];
				}
				return user;
			},			
			cityList(){
				let cityList = [];

				if(this.new_city_list.length > 0){

					cityList = this.city_address_rawdata[this.user.address_pref];

				}else if(! this.user.address_pref){					
					cityList = [];

				}else if(this.$store.state.reference_user){
					/*
					 * 既存ユーザー編集用
					 */					
					cityList = this.city_address_rawdata[this.$store.state.reference_user.address_pref];
				}

				return cityList;
			},
			histories(){
				return this.$store.state.current_user_histories;
			},
			api_url(){
				if(this.$store.state.current_user.deleted_at){ 
					return '/api/update-deleted-user';// Deleted atがあれば
				}else{
					return '/api/update-user';// Deleted atがなければ
				}
			}
		},
		watch : {
			as_is_user : {
				handler : function(new_user){
					this.user = _.clone(new_user);
				},
				deep : true,
			},			
			is_open : {				
				handler : function(newValue){
					if(newValue){
						document.querySelector('.is-for-edit.c-ui__overlay').classList.remove('is-close');
						document.querySelector('.is-for-edit.c-ui__overlay').classList.add('is-open');
						
						setTimeout(() => {
							document.querySelector('.is-for-edit .p-detailBox__inner').classList.remove('is-close');
							document.querySelector('.is-for-edit .p-detailBox__inner').classList.add('is-open');	
						},150);
						
					}else{
						document.querySelector('.is-for-edit .p-detailBox__inner').classList.remove('is-open');
						document.querySelector('.is-for-edit .p-detailBox__inner').classList.add('is-close');							

						setTimeout(() => {
							document.querySelector('.is-for-edit.c-ui__overlay').classList.remove('is-open');
							document.querySelector('.is-for-edit.c-ui__overlay').classList.add('is-close');
						},200);						
					}
				}
			}
		},
		methods : {			
			/***************************************
			 * Vuex Method
			 **************************************/
			resetUser(){
				this.$store.commit('resetUser');
			},
			setCurrentUserHistory(history){
				this.$store.commit('setCurrentUserHistory',history);	
			},
			resetCurrentUserHistory(){
				this.$store.commit('resetCurrentUserHistory');
			},
			resetCurrentUserHistories(){
				this.$store.commit('resetCurrentUserHistories');
			},
			
			/***************************************
			 * API Request Method
			 **************************************/			
			updateUser(event){
                const self          = this;
                const user          = _.clone(self.user);
                let target_user     = "";
				
				if(! user.email){
					self.alert_text = "メールアドレスを入力してください。";
					self.openAlert();
					return false;
				}

				// birthdayの連結
				if(user.birth_year && user.birth_month && user.birth_day){
					user.birthday = user.birth_year + '-' + user.birth_month + '-' + user.birth_day;
				}else{
					user.birthday = null;
				}

				if(user.birth_year) delete(user.birth_year);
				if(user.birth_month) delete(user.birth_month);
				if(user.birth_day) delete(user.birth_day);

				axios.put(self.api_url,{
					params : user
				}).then( res => {
					

					if(res.data.msg === 'updated'){
						self.alert_text = '更新しました。';
					}else if(res.data.msg === 'failed'){
						self.alert_text = '更新に失敗しました。';
						self.openAlert();

						return;
					}


					// データの更新
					target_user = res.data.target_user;							

					if(target_user.length == 1){
						target_user = target_user[0];
						self.$emit('refreshUserData',target_user);
					}else{
						target_user = target_user.join('|');
						self.$emit('refreshMultiUsersData',target_user);
					}

					// バックでDetailのtoggle
					if(event.target.getAttribute('data-btn-type') == 'btn-save-and-close'){
						self.toggleDetailBox(false);	
					}

					// アラートの表示
					self.openAlert();
				});
			},
			refreshUserData(id){
				this.$emit('refreshUserData',id);
			},			
			/***************************************
			 * EventHandler
			 **************************************/
			getNewCityList(){				
				if(this.user){
					if(this.user.address_pref == "未選択"){
						this.new_city_list = [];			
					}else if(this.user.address_pref){
						this.new_city_list = this.city_address_rawdata[this.user.address_pref];
					}						
				}				
			},
			toggleDetailBox(){				
				this.$store.commit('toggleDetailComponent');
				this.resetUser();
				this.resetCurrentUserHistories();
			},

			openMailForm(){
				this.mailform_bg_is_opening = true;				
			},
			closeMailForm(){
				this.mailform_bg_is_opening = false;
			},		

			/** Alert Handling **/
			openAlert(){
				this.alert_is_opening = true;
			},
			closeAlert(){
				this.alert_is_opening = false;
				this.alert_text = "";
			},

			/** Calendar Handling **/
			openCalendar(event){
				if(this.current_open_calendar) this.closeCalendar();

				event.target.nextSibling.style.display = "block";
				event.target.nextSibling.classList.add('is-open');
				const calendar_type = event.target.getAttribute('data-calendar-type');

				this.current_open_calendar = calendar_type;
			},
			closeCalendar(){
				if(this.current_open_calendar){
					document.querySelector(`[data-calendar-type="${this.current_open_calendar}"]`).nextSibling.style.display = "none";
					document.querySelector(`[data-calendar-type="${this.current_open_calendar}"]`).nextSibling.classList.remove('is-open');
				}
				this.current_open_calendar = "";
			},
			updateReactedDate(event){
				const date = document.querySelector('.is-for-edit [data-colname="dtl-react-date"] input[type="hidden"]').value;

				if(date){
					const react_date = moment(date);
					const entry_date = moment(this.user.entry_date);
					const diff = react_date.diff(entry_date,'days');

					if(diff < 0){
						this.alert_text = "対応日に不備があります。\r\n選択しなおしてください。";
						this.openAlert();
						return false;
					}

					this.user.react_date = date;
				}else{
					this.alert_text = "日付を選択してください。";
					this.openAlert();
					return false;
				}

				this.closeCalendar();
			},
			updateEnteredDate(){
				const date = document.querySelector('.is-for-edit [data-colname="dtl-entered-date"] input[type="hidden"]').value;

				if(date){
					const entered_date = moment(date);
					const entry_date = moment(this.user.entry_date);
					const diff = entered_date.diff(entry_date,'days');

					if(diff < 0){
						this.alert_text = this.$store.state.school__entering_type + "日に不備があります。\r\n選択しなおしてください。";
						this.openAlert();
						return false;
					}

					this.user.entered_date = date;
				}else{
					this.alert_text = "日付を選択してください。";
					this.openAlert();
					return false;
				}

				this.closeCalendar();
			},
			removeReactedDate(){
				this.user.react_date = "";
				this.closeCalendar();
			},
			removeEnteredDate(){
				this.user.entered_date = "";
				this.closeCalendar();
			},
			openNoteEditor(history){
				// 単純にhistoryのみだとEventオブジェクトも検知してしまい、historyが空にならない。
				if(history && history.hasOwnProperty('history_type')){
					this.setCurrentUserHistory(history)

					// historyはconfirmとeditの表示順序が逆
					this.editor_type = 'confirm';

					this.memo_bg_is_opening = true;
				}else{

					this.editor_type = 'edit';
					this.memo_bg_is_opening = true;					
				}			
			},
			closeNoteEditor(){
				this.memo_bg_is_opening = false;
				this.editor_type = 'edit';
			},

			// print
			printForSmallEnvelop(){
				this.$store.commit('setOpenPrintPreview',true);
			}
		},
		created(){
			const self = this;			

			document.addEventListener('click',(event) => {

				if(event.target.getAttribute('data-calendar-type') !== 'react_date_for_edit' &&
			       event.target.getAttribute('data-calendar-type') !== 'entered_date_for_edit'){

			       	if(self.current_open_calendar && !$(event.target).closest('.c-ui__calendar.is-popup').length){
						self.closeCalendar();
					}
				}				
			});			
		},		
	}
</script>