<docs>
	ログアウト時には、セッション管理しているLocalStorageの削除を行い
	Vuex側にもデータを伝達する。

	Vuexでは、認可情報に応じて、権限別に出し分けをしているため、
	同一ブラウザで別ユーザーが再ログインした際に出るべきでないコンポーネントが出ないようにするため
	ログアウト時に同時に破棄する。

	=> ブラウザがクローズされた時にはそもそも自動で状態管理されなくなるので問題はない。

	概ね
	Session管理：Vuex
	Cookie管理：LocalStorage

	の役割分担。
</docs>

<template lang="pug">
	header
		.p-header
			h1.p-header__title
				img.p-header__logo(:src="image_path"  :alt="school_name" v-if="school_key")
			.p-header__account
				.p-header__account-name
					i.fa.fa-user-circle-o(aria-hidden="true")
					span {{ school_name }}
				.p-header__account-console
					dl
						dt.p-header__account-console-icon
							i.fa.fa-cog(aria-hidden="true")
						dd.p-header__account-console-menu
							ul
								li(v-if="role_admin")
									router-link.p-header__account-console-link(to="/crm/file-upload") CSVアップロード

								li
									a.p-header__account-console-link(href="#" @click.prevent="logout") ログアウト
</template>

<script>
	export default {
		data(){
			return {
				uploadedFile : null,				
			}
		},
		computed : {
			image_path(){
				return '/images/' + this.school_key + '_logo.png';
			},
			school_key(){
				return this.$store.state.school__key;
			},
			school_name(){
				return this.$store.state.school__name;
			},
			role_admin(){
				return this.$store.state.role_admin;
			}
		},
		methods : {
			logout(){
				window.localStorage.removeItem('_auth');
				window.localStorage.removeItem('crm_auth_role');
				window.localStorage.removeItem('_exp');

				this.$store.commit('resetAuthrizationMap');

				this.$router.push({ path : '/'});
			},			
		},		
	}
</script>