<template lang="pug">
	.p-mailform
		.p-mailform__bg.c-ui__overlay(v-show="mailform_is_opening")
			.p-mailform__box
				//- 編集画面
				.p-mailform__edit(v-show="mailform_edit_is_opening")
					.p-mailform__header.u-row.u-jcsb
						p.p-mailform__header-title メール送信						
						i.p-mailform__header-closebtn.fa.fa-times-circle(@click="closeMailForm")
					.p-mailform__body
						table.p-mailform__body-form.c-vtc-table
							template(v-if="user")
								tr
									th.c-vtc-table__head(data-colname="sendto") 送信先
									td.c-vtc-table__body(data-colname="sendto") {{ user.name }}（ID:{{ user.id }}） / メールアドレス：{{ user.email }}
								tr(v-if="user.entry_title")
									th.c-vtc-table__head(data-colname="inquiry_title") 問い合わせ件名
									td.c-vtc-table__body(data-colname="inquiry_title" style="white-space:pre-wrap;") {{ user.entry_title }}
								tr(v-if="user.entry_content")
									th.c-vtc-table__head(data-colname="inquiry_content") 問い合わせ内容
									td.c-vtc-table__body(data-colname="inquiry_content") 
										div(style="height:90px;overflow:auto;white-space:pre-wrap;") {{ user.entry_content }}
								tr(v-if="mail_purpose !== 'general'")
									th.c-vtc-table__head(data-colname="licence_type") 免許種類
									td.c-vtc-table__body(data-colname="licence_type") {{ licence_types_map[user.licence_type] }}
							template(v-else)
								tr
									th.c-vtc-table__head(data-colname="sendto") 送信先
									td.c-vtc-table__body(data-colname="sendto") 一括送信
							tr
								th.c-vtc-table__head メールテンプレート
								td.c-vtc-table__body
									.c-ui__pulldown
										select(v-model="should_display_mail_template")
											option(value="" disabled) テンプレートを選択
											option(v-for="title in mail_templates_title_list"  :value="title") {{ title }}
							tr
								th.c-vtc-table__head 件名
								td.c-vtc-table__body
									input.c-ui__freeword(type="text" v-model="mail_title")
							tr
								th.c-vtc-table__head(data-colname="mail_content") 本文
								td.c-vtc-table__body(data-colname="mail_content" style="padding-bottom: 0")
									textarea.c-ui__textarea(v-model="mail_content")
						.p-mailform__body-footer
							.u-row.u-jcfe
								.c-ui__flatbutton(data-button="gray" @click="closeMailForm") キャンセル
								.c-ui__flatbutton(data-button="primary" @click="next") 内容を確認
				//- 送信確認画面
				form.p-mailform__confirm(v-show="mailform_confirm_is_opening")
					input(type="hidden" name="_token"  :value="csrf")
					input(type="hidden" name="_method" value="post")
					.p-mailform__header
						p.p-mailform__header-title メール送信
						.p-mailform__header-closebtn
					.p-mailform__body
						table.p-mailform__body-form.c-vtc-table
							template(v-if="user")
								tr
									th.c-vtc-table__head(data-colname="sendto") 送信先
									td.c-vtc-table__body(data-colname="sendto") {{ user.name }}（ID:{{ user.id }}） / メールアドレス：{{ user.email }}
							template(v-else)
								tr
									th.c-vtc-table__head(data-colname="sendto") 送信先
									td.c-vtc-table__body(data-colname="sendto") 一括送信
							tr
								th.c-vtc-table__head(data-colname="confirm_mail_title") 件名
								td.c-vtc-table__body(data-colname="confirm_mail_title") {{ mail_title }}
							tr
								th.c-vtc-table__head(data-colname="confirm_mail_content") 本文
								td.c-vtc-table__body(data-colname="confirm_mail_content")
									div(v-html="confirm_content" style="height:332px;overflow:auto;width:460px;")
						.p-mailform__body-footer
							.u-row.u-jcfe
								.c-ui__flatbutton(data-button="gray" @click="closeMailForm") キャンセル
								.c-ui__flatbutton(data-button="gray" @click="prev") 入力し直す
								.c-ui__flatbutton(data-button="primary" @click="send") 送信
		.c-ui__overlay(v-show="alert_is_opening")
			.c-alert-box
				p.c-alert-box__content {{ alert_text }}
				.u-m-auto.c-ui__flatbutton(data-btn-type="btn-ok" data-button="primary" @click="closeAlert") OK
		.c-ui__overlay(v-show="sending_mail_on_progress")
			.c-loading__outer-wrapper
				.c-loading__inner-wrapper
					div(style="display:flex;flex-direction:column;")
						img.c-loading__icon(src="/images/spinner.svg")
						p.c-loading__text 送信中...
</template>

<script>
	export default {
		props : ['mail_purpose','licence_types_map','condition','fetch_option','freeword','mailform_bg_is_opening'],
		data(){
			return {
				mail_title : "",
				mail_content: "",
				mail_templates : "",
				mail_templates_title_list : [],
				should_display_mail_template : "",

				alert_text : "",
				alert_is_opening : false,
				
				csrf : window.Laravel.csrfToken,

				mailform_edit_is_opening : true,
				mailform_confirm_is_opening : false,

				sending_mail_on_progress : false,
			}
		},
		watch : {
			should_display_mail_template : {
				handler : function(newValue){
					const self = this;

					for(let template of self.mail_templates){
						if(template.template_name == newValue){							
                            self.mail_title     = template.mail_title;

                            if(self.$store.state.current_user){
                            	self.mail_content   = self.$store.state.current_user.name + " 様\n\n" + template.mail_content;
                            }else{
                            	self.mail_content   = "$氏名$ 様\n\n" + template.mail_content;
                            }
                            
						}
					}					
				}
			},
		},		
		computed : {
			user(){
				return this.$store.state.reference_user;
			},
			api_url(){
				if(this.$props.mail_purpose && this.$props.mail_purpose == 'general'){
					return "/api/send-general-mail";
				}else{
					if(this.$store.state.current_page == "inquiry-list"){
						return "/api/reply-to-inquiry";
					}else if(this.$store.state.current_page == "campaign-list"){
						return "/api/send-campaign";
					}else if(this.$store.state.current_page == "tmp-entering-list"){
						return "/api/reply-to-tmp-entering";
					}
				}
			},
			mailform_is_opening(){
				return this.$props.mailform_bg_is_opening;
			},
			confirm_content(){
				if(this.user){
					return this.escapeHTML(this.mail_content,this.user);	
				}else{
					return this.escapeHTML(this.mail_content);	
				}				
			}			
		},
		methods : {
			/***************************************
			 * Vuex Method
			 **************************************/
			resetUser(){
				this.$store.commit('resetUser');	
			},
			resetWhiteList(){
				this.$store.commit('resetWhiteList');
			},
			/***************************************
			 * API Request Method
			 **************************************/			
			send(){
				const self = this;
				let id = "";		
				let condition = _.clone(this.$props.condition);

				if(this.$store.state.current_user){
					id = this.$store.state.current_user.id;
				}else if(this.$store.state.white_list){
					id = this.$store.state.white_list;					
				}else{
					id = null;
				}

				if(this.$props.freeword){
					condition['freeword'] = this.$props.freeword
				}

				this.sending_mail_on_progress = true;

				axios.post(this.api_url,{
					params : {
						id : id,
						condition : condition,
						title : this.mail_title,
						content: this.mail_content
					}					
				}).then(res => {
					this.sending_mail_on_progress = false;

					if(res.data.msg == "success"){
						self.alert_text = "メールを送信しました。";

						if(! id ) id = res.data.id;  // キャンペーンのような検索結果allの場合は、Laravel側から対象者IDを返却してくれる

						self.$emit('refreshUserData',id);
						
						const current_page = self.$store.state.current_page;

						switch(current_page){
							case "campaign-list" :
								self.$emit('refreshMultiUsersData',id);								
								break;
							case "tmp-entering-list" :
								if(Array.isArray(id)){
									self.$emit('refreshMultiUsersData',id);		
								}else{
									self.$emit('refreshUserData',id);
								}
								break;
							default :
								self.$emit('refreshUserData',id);
								break;								
						}
						
						self.closeMailForm();

						if(this.$props.mail_purpose && this.$props.mail_purpose == 'general'){
							const obj = {
								from : 'MailForm in Detail',
								to : 'Memo in Detail',
								what : 'refreshHistoriesData'
							};

							self.$store.commit('notifyEventToSiblingElement',obj);	
						}
						
					}else if(res.data.msg == "failed"){
						self.alert_text = "メール送信に失敗しました。";
					}else{
						return false;
					}

					self.openAlert();
				});
			},
			/***************************************
			 * EventHandler
			 **************************************/
			closeMailForm(){
				this.$emit('closeMailForm');
				this.mailform_edit_is_opening = true;					
				this.mailform_confirm_is_opening = false;

				// general のMail FormはDetailコンポーネント上に展開されているので
				// このタイミングで消すと、Detailコンポーネントの表示が白紙になる
				// 消したいのは、リスト一覧上で、Mail Formを開いている時だけ
				if(this.$store.state.detail_is_opening === false) this.resetUser();				

				this.should_display_mail_template = "";
				this.mail_title = "";
				this.mail_content = "";
				this.resetWhiteList();
			},
			prev(){				
				this.mailform_confirm_is_opening = false;
				this.mailform_edit_is_opening = true;
			},
			next(){
				if(!this.mail_title){
					this.alert_text = "件名を入力してください。";
					this.openAlert();
					return false;
				}

				if(!this.mail_content){
					this.alert_text = "本文を入力してください。";
					this.openAlert();
					return false;
				}
				
				this.mailform_edit_is_opening = false;
				this.mailform_confirm_is_opening = true;				
			},

			/** Alert Handling **/
			openAlert(){				
				this.alert_is_opening = true;				
			},
			closeAlert(){				
				this.alert_is_opening = false;
				
				if(this.$store.state.white_list){
					this.$store.commit('resetWhiteList');
				}				
			},
			/***************************************
			 * View Helper
			 **************************************/
			escapeHTML(str,user){

				let result = str.replace(/\r?\n/g, '<br>')
						  .replace(/&/g, "&amp;")
      					  .replace(/</g, "&lt;")
      					  .replace(/>/g, "&gt;")
      					  .replace(/"/g, "&quot;")
      					  .replace(/'/g, "&#039;")
      					  .replace(/&lt;br&gt;/g,'<br>');

      			if(user){
      				result = result.replace(/\$name\$/,user.name);
      			}

      			return result;
			}	
		},
		mounted(){
			const self = this;
			const bg_nodes = document.querySelectorAll('.p-mailform__bg.c-ui__overlay');

			axios.get('/api/fetch-template').then(res => {

				self.mail_templates = res.data.other;

				for(let template of self.mail_templates){
					self.mail_templates_title_list.push(template.template_name);
				}				
			});



			if(bg_nodes){
				const bgs = Array.prototype.slice.call(bg_nodes);

				for(let i in bgs){
					bgs[i].addEventListener('click',(event) => {						
						event.stopPropagation();

						if(event.target == bgs[i]){
							self.closeMailForm();							
						}
						
					},false);
				}				
			}
		}
	}
</script>

<style lang="scss" scoped>
.c-loading__icon{
	width: 100%;
	height: 200px;
}
.p-mailform__bg.c-ui__overlay{
	overflow: auto;
}
</style>