<template lang="pug">
	.p-memoEditor
		.p-memoEditor__bg.c-ui__overlay(v-show="memo_is_opening")
			.p-memoEditor__box
				//- 編集画面
				.p-memoEditor__edit(v-show="memoeditor_edit_is_opening")
					.p-memoEditor__header.u-row.u-jcsb
						p.p-memoEditor__header-title {{ history_types_map[history.history_type] || "対応メモ" }}
						i.p-memoEditor__header-closebtn.fa.fa-times-circle(@click="closeEditor")
					.p-memoEditor__body
						table.p-memoEditor__body-form.c-vtc-table
							template(v-if="history")
								tr
									th.c-vtc-table__head(data-colname="target") ユーザー
									td.c-vtc-table__body(data-colname="target") {{ user.name }}（ID:{{ user.id }})
								tr
									th.c-vtc-table__head 件名
									td.c-vtc-table__body
										input.c-ui__freeword(type="text" v-model="title")
								tr
									th.c-vtc-table__head(data-colname="content") 本文
									td.c-vtc-table__body(data-colname="content" style="padding-bottom: 0")
										textarea.c-ui__textarea(v-model="content")
							template(v-else)
								tr
									th.c-vtc-table__head(data-colname="target") ユーザー
									td.c-vtc-table__body(data-colname="target") {{ user.name }}（ID:{{ user.id }}）
								tr
									th.c-vtc-table__head テンプレート
									td.c-vtc-table__body
										.c-ui__pulldown
											select(v-model="should_display_mail_template")
												option(value="" disabled) テンプレートを選択
												option(value="") 未選択
												option(v-for="title in mail_templates_title_list"  :value="title") {{ title }}
								tr
									th.c-vtc-table__head 件名
									td.c-vtc-table__body
										input.c-ui__freeword(type="text" v-model="title")
								tr
									th.c-vtc-table__head(data-colname="content") 本文
									td.c-vtc-table__body(data-colname="content" style="padding-bottom: 0")
										textarea.c-ui__textarea(v-model="content")
						template(v-if="history")
							.p-memoEditor__body-footer
								.u-row.u-jcfe
									.c-ui__flatbutton(data-button="gray" @click="closeEditor") キャンセル
									.c-ui__flatbutton(data-button="primary" @click="next(true)") 内容を確認
						template(v-else)
							.p-memoEditor__body-footer
								.u-row.u-jcfe
									.c-ui__flatbutton(data-button="gray" @click="closeEditor") キャンセル
									.c-ui__flatbutton(data-button="primary" @click="next(false)") 内容を確認
				//- 確認画面
				form.p-memoEditor__confirm(v-show="memoeditor_confirm_is_opening")
					input(type="hidden" name="_token"  :value="csrf")
					input(type="hidden" name="_method"  :value="http_method")
					.p-memoEditor__header.u-row.u-jcsb
						p.p-memoEditor__header-title {{ history_types_map[history.history_type] || "対応メモ" }}
						i.p-memoEditor__header-closebtn.fa.fa-times-circle(@click="closeEditor")
					.p-memoEditor__body
						template(v-if="history")
							table.p-memoEditor__body-form.c-vtc-table
								tr
									th.c-vtc-table__head(data-colname="target") ユーザー
									td.c-vtc-table__body(data-colname="target") {{ user.name }}（ID:{{ user.id }}）
								tr
									th.c-vtc-table__head(data-colname="confirm_title") 件名
									td.c-vtc-table__body(data-colname="confirm_title") {{ title || history.title }}
								tr
									th.c-vtc-table__head(data-colname="confirm_content") 本文									
									td.c-vtc-table__body(data-colname="confirm_content")
										div(v-html="confirm_content" style="height:332px;overflow:auto;width:460px;")
							template(v-if="should_update_history")
								.p-memoEditor__body-footer
									.u-row.u-jcfe
										.c-ui__flatbutton(data-button="gray" @click="closeEditor") キャンセル
										.c-ui__flatbutton(data-button="gray" @click="prev") 入力し直す
										.c-ui__flatbutton(data-button="primary" @click="updateNotes") 登録
							template(v-else)
								.p-memoEditor__body-footer
									.u-row.u-jcfe
										.c-ui__flatbutton(data-button="primary" @click="prev(history)" v-if="history.history_type === 'memo'") 編集する
										.c-ui__flatbutton(data-button="gray" @click="closeEditor") 閉じる
						template(v-else)
							table.p-memoEditor__body-form.c-vtc-table
								tr
									th.c-vtc-table__head(data-colname="target") ユーザー
									td.c-vtc-table__body(data-colname="target") {{ user.name }}（ID:{{ user.id }}）
								tr
									th.c-vtc-table__head(data-colname="confirm_title") 件名
									td.c-vtc-table__body(data-colname="confirm_title") {{ title }}
								tr
									th.c-vtc-table__head(data-colname="confirm_content") 本文									
									td.c-vtc-table__body(data-colname="confirm_content")
										div(v-html="confirm_content" style="height:332px;overflow:auto;width:460px;")
							.p-memoEditor__body-footer
								.u-row.u-jcfe
									.c-ui__flatbutton(data-button="gray" @click="closeEditor") キャンセル
									.c-ui__flatbutton(data-button="gray" @click="prev") 入力し直す
									.c-ui__flatbutton(data-button="primary" @click="writeNotes") 登録
		.c-ui__overlay(v-show="alert_is_opening")
			.c-alert-box
				p.c-alert-box__content {{ alert_text }}
				.u-m-auto.c-ui__flatbutton(data-btn-type="btn-ok" data-button="primary" @click="closeAlert") OK
</template>

<script>
	const moment = require('moment')

	export default {
		props: ['memo_bg_is_opening','editor_type'],
		data(){
			return {
				title : "",
				content: "",
				mail_templates : "",
				mail_templates_title_list : [],
				should_display_mail_template : "",
				should_update_history : false,

				alert_text : "",
				alert_is_opening : false,

				http_method : "post",
				csrf : window.Laravel.csrfToken,

				memoeditor_edit_is_opening : true,
				memoeditor_confirm_is_opening : false,
			}
		},		
		computed : {
			user(){
				return this.$store.state.reference_user;
			},
			history(){
				return this.$store.state.current_user_history;
			},
			eventObserver(){
				const observer = {
					'from' : this.$store.state.from,
					'to'   : this.$store.state.to,
					'what' : this.$store.state.what,
				}
				return observer;
			},
			confirm_content(){
				if(this.content){
					return this.escapeHTML(this.content,this.user);
				}else if(this.history){
					return this.escapeHTML(this.history.content,this.user);
				}else{
					return "";
				}
			},
			memo_is_opening(){
				return this.$props.memo_bg_is_opening;
			},
			history_types_map(){
				return this.$store.state.config__history_types_map;
			}
		},
		watch : {
			should_display_mail_template : {
				handler : function(newValue){
					const self = this;

					if(! newValue){
						self.title   = "";
						self.content = "";
					}					

					for(let template of self.mail_templates){
						if(template.template_name == newValue){
                            self.title     = template.mail_title;
                            self.content   = template.mail_content;
						}
					}					
				}
			},
			eventObserver : {
				handler : function(newValue){
					if(newValue.from == 'MailForm in Detail' &&
					   newValue.to   == 'Memo in Detail'){

						const todo = newValue.what;

						if(todo){
							this[todo]();
						}
					}

					this.$store.commit('resetEventhub');
				},
				deep : true
			},
			editor_type : {
				handler : function(newValue){
					if(newValue == 'edit'){
						this.memoeditor_edit_is_opening = true;
						this.memoeditor_confirm_is_opening = false;
					}else if(newValue == 'confirm'){
						this.memoeditor_edit_is_opening = false;
						this.memoeditor_confirm_is_opening = true;
					}
				}
			}
		},
		methods : {
			/***************************************
			 * Vuex Method
			 **************************************/
			resetCurrentUserHistory(){
				this.$store.commit('resetCurrentUserHistory');	
			},
			updateCurrentUserHistories(histories){
				this.$store.commit('updateCurrentUserHistories',histories);
			},
			
			/***************************************
			 * API Request Method
			 **************************************/
			writeNotes(){
				this.http_method = "post";

				const self = this;
				const id = this.$store.state.current_user.id;				

				axios.post('/api/write-notes',{
					params : {
						id : id,
						history_date : moment().format('YYYY-MM-DD HH:mm:ss'),
						title : this.title,
						content: this.content
					}

					// ローディングアイコン
				}).then(res => {
					if(res.data.msg == "success"){
						self.alert_text = "登録しました。";
						self.$emit('refreshUserData',id);

						self.closeEditor();
					}else if(res.data.msg == "failed"){
						self.alert_text = "登録に失敗しました。";
					}else{
						return false;
					}

					self.refreshHistoriesData();
					self.openAlert();
				});
			},
			updateNotes(){
				this.http_method = "put";

				const self = this;
				const id = this.$store.state.current_user_history.id;

				axios.put('/api/update-notes',{
					params : {
						id : id,
						title : this.title,
						content: this.content
					}

					// ローディングアイコン
				}).then(res => {
					if(res.data.msg == "success"){
						self.alert_text = "更新しました。";
						self.$emit('refreshUserData',id);

						self.closeEditor();
					}else if(res.data.msg == "failed"){
						self.alert_text = "更新に失敗しました。";
					}else{
						return false;
					}

					self.refreshHistoriesData();
					self.openAlert();
				});
			},
			refreshHistoriesData(){
				const self = this;
				const id = this.$store.state.current_user.id;

				axios.get('/api/fetch-respective-history',{
					params : {
						id : id
					}
				}).then(res => {
										
					self.updateCurrentUserHistories(res.data.histories);
				})
			},
			/***************************************
			 * EventHandler
			 **************************************/
			closeEditor(){
				this.$emit('closeEditor');
				this.memoeditor_edit_is_opening = true;				
				this.memoeditor_confirm_is_opening = false;				
				
				if(this.history){
					this.resetCurrentUserHistory();
				}

				this.should_display_mail_template = "";
				this.should_update_history = false;
				this.title = "";
				this.content = "";				
			},
			prev(history){
				if(history && history.hasOwnProperty('history_type')){
					this.title = history.title;
					this.content = history.content;

					this.memoeditor_confirm_is_opening = false;					
					this.memoeditor_edit_is_opening = true;					
				}else{
					this.memoeditor_confirm_is_opening = false;					
					this.memoeditor_edit_is_opening = true;					
				}				
			},
			next(should_update_history = false){
				if(should_update_history) this.should_update_history = true;

				if(!this.title){
					this.alert_text = "件名を入力してください。";
					this.openAlert();
					return false;
				}

				if(!this.content){
					this.alert_text = "本文を入力してください。";
					this.openAlert();
					return false;
				}

				this.memoeditor_edit_is_opening = false;				
				this.memoeditor_confirm_is_opening = true;				
			},

			/** Alert Handling **/
			openAlert(){
				this.alert_is_opening = true;				
			},
			closeAlert(){
				this.alert_is_opening = false;				
			},
			/***************************************
			 * View Helper
			 **************************************/
			escapeHTML(str,user){

				return str.replace(/\r?\n/g, '<br>')
						  .replace(/&/g, "&amp;")
      					  .replace(/</g, "&lt;")
      					  .replace(/>/g, "&gt;")
      					  .replace(/"/g, "&quot;")
      					  .replace(/'/g, "&#039;")
      					  .replace(/&lt;br&gt;/g,'<br>')
      					  .replace(/\$name\$/,user.name);
			}	
		},
		mounted(){
			const self = this;
			const bg_nodes = document.querySelectorAll('.p-memoEditor__bg.c-ui__overlay');


			axios.get('/api/fetch-template').then(res => {
				
				self.mail_templates = res.data.other;	
				
				for(let template of self.mail_templates){
					self.mail_templates_title_list.push(template.template_name);
				}				
			})


			if(bg_nodes){
				const bgs = Array.prototype.slice.call(bg_nodes);

				for(let i in bgs){
					bgs[i].addEventListener('click',(event) => {						
						event.stopPropagation();

						if(event.target == bgs[i]){
							self.closeEditor();							
						}
						
					},false);
				}				
			}
		}
	}
</script>

<style lang="scss" scoped>
.c-vtc-table__body[data-colname="content"] .c-ui__textarea{
	height: 326px;
}
.p-memoEditor__bg.c-ui__overlay{
	overflow: auto;
}
</style>