<template lang="pug">
	nav.p-sidenav
		h2.p-sidenav__title 見込客管理（CRM）
		ul.p-sidenav__list
			li.p-sidenav__item(v-if="role_dashboard")
				router-link.p-sidenav__link(to="/crm/dashboard"  :class="[current_page == 'dashboard' ? 'is-current' : '']") ダッシュボード
			li.p-sidenav__item
				router-link.p-sidenav__link(to="/crm/entry-list"  :class="[current_page == 'entry-list' ? 'is-current' : '']") エントリーデータ一覧
			li.p-sidenav__item
				router-link.p-sidenav__link(to="/crm/inquiry-list"  :class="[current_page == 'inquiry-list' ? 'is-current' : '']") 問い合わせ対応
					span.p-sidenav__unread-count(v-if="ongoing_inquiry") {{ ongoing_inquiry }}
			li.p-sidenav__item
				router-link.p-sidenav__link(to="/crm/brochure-list"  :class="[current_page == 'brochure-list' ? 'is-current' : '']") 資料送付状況
					span.p-sidenav__unread-count(v-if="ongoing_brochure") {{ ongoing_brochure }}
			li.p-sidenav__item(v-if="role_campaign")
				router-link.p-sidenav__link(to="/crm/campaign-list"  :class="[current_page == 'campaign-list' ? 'is-current' : '']") キャンペーンメール
			li.p-sidenav__item
				router-link.p-sidenav__link(to="/crm/tmp-entering-list"  :class="[current_page == 'tmp-entering-list' ? 'is-current' : '']") {{ entering_type }}仮申し込み対応
					span.p-sidenav__unread-count(v-if="ongoing_tmp_entering") {{ ongoing_tmp_entering }}
			li.p-sidenav__item
				router-link.p-sidenav__link(to="/crm/entering-list"  :class="[current_page == 'entering-list' ? 'is-current' : '']") {{ entering_type }}確認作業
			li.p-sidenav__item
				router-link.p-sidenav__link(to="/crm/no-action-list"  :class="[current_page == 'no-action-list' ? 'is-current' : '']") 対応不要ユーザー一覧
			li.p-sidenav__item(v-if="role_templates")
				router-link.p-sidenav__link(to="/crm/mail-template"  :class="[current_page == 'mail-template' ? 'is-current' : '']") メールテンプレ管理
			li.p-sidenav__item
				span.p-sidenav__link(@click="toggleDetailBox") 新規申込者対応
</template>

<script>
	export default {		
		computed : {
			is_open(){
				return this.$store.state.create_user_is_opening;
			},
			entering_type(){
				return this.$store.state.school__entering_type;
			},
			ongoing_inquiry(){
				return this.$store.state.ongoing_inquiry;
			},
			ongoing_brochure(){
				return this.$store.state.ongoing_brochure;
			},
			ongoing_tmp_entering(){
				return this.$store.state.ongoing_tmp_entering;
			},
			current_page(){
				return this.$store.state.current_page;
			},
			role_campaign(){
				return this.$store.state.role_campaign;
			},
        	role_dashboard(){
        		return this.$store.state.role_dashboard;
        	},
        	role_entries(){
        		return this.$store.state.role_entries;
        	},        	
        	role_templates(){
        		return this.$store.state.role_templates;
        	},
		},
		watch : {
			is_open : {
				// CreateUserコンポーネントは各リストコンポーネントにincludeされているのでQuerySelectorで指定する
				// Vuexでもできるが、transitionの滑らかさを出すためにはsetTimeoutが必須なのでSidebar上でコントロールする
				handler : function(newValue){
					if(newValue){
						document.querySelector('.is-for-create.c-ui__overlay').classList.remove('is-close');
						document.querySelector('.is-for-create.c-ui__overlay').classList.add('is-open');
						
						setTimeout(() => {
							document.querySelector('.is-for-create .p-detailBox__inner').classList.remove('is-close');
							document.querySelector('.is-for-create .p-detailBox__inner').classList.add('is-open');	
						},150);
						
					}else{
						document.querySelector('.is-for-create .p-detailBox__inner').classList.remove('is-open');
						document.querySelector('.is-for-create .p-detailBox__inner').classList.add('is-close');							

						setTimeout(() => {
							document.querySelector('.is-for-create.c-ui__overlay').classList.remove('is-open');
							document.querySelector('.is-for-create.c-ui__overlay').classList.add('is-close');
						},200);						
					}
				}
			}
		},
		methods : {
			/***************************************
			 * EventHandler
			 **************************************/
			toggleDetailBox(){				
				this.$store.commit('toggleCreateUserComponent');
			}
		},
		mounted(){
			const self = this;

			setInterval(() => {
				self.$store.commit('fetchTooltipCounter');				
			},30000);
		}
	}
</script>