/**
 * override default styling
 */
.c-ui__calendar{	
	width: 300px;	
	z-index: 19;	
	padding: 10px;
	background: #FFF;
	border: solid 1px #cccccc;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
	color: #333;
	border-radius: 5px;	
	font-family: 'Helvetica Neue Light', Helvetica, sans-serif;
	display: none;
}
.c-ui__calendar.is-popup{
	position: absolute;
}
.c-ui__calendar.is-from{	
	top: 35px;
	right: 175px;
}
.c-ui__calendar.is-to{	
	top: 35px;
	right: 25px;
}
.c-ui__calendar-btn{
	border: solid 1px #999999;
	color: #333;
	border-radius: 4px;
	padding: 3px 15px;
	font-size: 10px;
	margin: 0 5px 0 0 !important;
	background: linear-gradient(to top, #f2f2f2, #ffffff);
}
.c-ui__calendar-footer{
	overflow: hidden;
}
.c-ui__calendar-btn,.c-ui__calendar-label{
	float: left;
}
.c-ui__calendar-label .c-ui__checkboxIcon{
	font-size:10px;
	padding-left:25px;
	top:4px;
	margin:0;
}
// ui parts
.c-ui__pulldown{
	display: inline-block;
	position: relative;
	box-sizing: border-box;
}
.c-ui__pulldown select,.c-ui__pulldown input{
	height: 33px;
	border-radius: 5px;
	padding: 0 1.5em 0 .75em;
	border: solid 1px #999;
	box-sizing: border-box;
	font-size: 12px;
	color: #333;
	background: #fff8d5;	
	outline: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: relative;
}
.c-ui__pulldown select{	
	box-sizing: border-box;
	min-width: 140px;
	max-width: 188px;
}
.c-ui__pulldown select.is-small{
	width: 80px;
	min-width: 80px;
	max-width: 80px;
}
.c-ui__pulldown input{	
	width: 130px;
}
.c-ui__pulldown::before{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4px;
	border-color: transparent transparent #999 transparent;	
	display:block;
    content: "";    
    position: absolute;    
    top: 7px;
    right: 7px;
    z-index: 2;
}
.c-ui__pulldown::after{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4px;
	border-color: #999 transparent transparent transparent;	
	display:block;
    content: "";    
    position: absolute;    
    top: 17px;
    right: 7px;
}
.c-ui__freeword{
	border-radius: 4px;
	border: solid 1px #999999;
	font-size: 12px;
	padding: 5px 10px;
	background: #fff8d5;
	height: 33px;
	width: 305px;
	box-sizing: border-box;	
}
.c-ui__submit{
	border-radius: 5px;
	border: solid 1px #399000;
	background: #4bbe00;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 3px;
	text-indent: 14px;
	width: 64px;
	height: 33px;
	color: #FFF;
	cursor: pointer;

	&:hover{
		opacity: 0.8;
	}	
}
.c-ui__submit + i::before{
	content: '\f002';
	font-family: FontAwesome;
	position: absolute;
	top: 9px;
	left: 9px;
	z-index: 2;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
}
.c-ui__checkbox{
	display: none;
	cursor: pointer;
}
.c-ui__checkboxIcon{
	top: 4px;
	position: relative;
	vertical-align: middle;
	margin-right: 1.8em;
}
.c-ui__checkboxIcon::before{
	content: '';
	width: 17px;
	height: 17px;
	border: 1px solid #999;
	background: linear-gradient(to left, #f3f2f2, #fffffe);
	border-radius: 5px;
	display: block;
	position: absolute;
	top: -3px;
}
.c-ui__checkbox:checked + .c-ui__checkboxIcon::before{
	content: '\f00c';
	font-family: FontAwesome;
	color: #FFF;
	font-size: 15px;
	line-height: 1;
	position: absolute;
	top: -3px;	
	border: solid 1px #4bbe00;
	background: #4bbe00;	
}
.c-ui__basicbutton{
	border: solid 1px #999999;
	border-radius: 4px;
	font-size: 12px;
	font-family: 'Meiryo','メイリオ','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','Robot','Droid Sans','MS PGothic','MS Pゴシック','Osaka',sans-serif;
	background: linear-gradient(to top, #f2f2f2, #ffffff);
	padding: 6px 12px;
	cursor: pointer;
	opacity: 0.8;

	i{
		margin-right: 3px;
		font-size: 14px;
	}

	&:hover{
		opacity: 0.5;
	}
}
.c-ui__flatbutton{
	width: 129px;
	height: 33px;
	line-height: 33px;
	font-size: 12px;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
	margin-left: 5px;
	box-sizing: border-box;

	&:hover{
		opacity: 0.5;
	}
}
.c-ui__disabled-button{
	width: 129px;
    height: 33px;
    line-height: 33px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;    
    margin-left: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #FFF;
}
.c-headline{
	font-size: 14px;
	font-weight: bold;
	color: #333;
	margin-bottom: 10px;
	height: 19px;
	line-height: 19px;
	position:relative;
	padding-left: 12px;
}
.c-headline + .c-ui__radio{
	margin-bottom: 11px;
}
.c-ui__textarea{
	vertical-align: middle;
	border-radius: 4px;
	border: solid 1px #999999;
	font-size: 12px;
	padding: 5px 10px;
	background: #fff8d5;
	height: 200px;
	width: 100%;
	box-sizing: border-box;
}
.c-ui__radio{
	display: flex;
	font-size: 12px;
	color: #333;	
}
.c-ui__radioIcon{
	display: inline-block;
	position: relative;	
	width: 14px;
	height: 14px;
	margin-right: 5px;
	border-radius: 12px;
	border: solid 1px #999999;
	background: linear-gradient(to left, #f3f3f3, #fefffe);
	vertical-align: middle;
}
.is-checked + .c-ui__radioIcon::after,
:checked + .c-ui__radioIcon::after{
	display: inline-block;
	position: absolute;
	top: calc(50% - 7px);
	left: calc(50% - 7px);
	content: ' ';
	margin: 0;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	border: solid 2px #ffffff;
	background: #4bbe00;
}
.c-ui__passive-btn{
	padding: 0;
	width: 135px;
	height: 33px;
	line-height: 33px;
	color: #FFF;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
	background: #bababa;
	border: solid 1px #999999;

	&:hover{
		opacity: 0.8;
	}
}
.c-ui__passive-btn.is-actived{	
	background: #4bbe00;
	border: solid 1px #399000;

	&:hover{
		opacity: 0.8;
	}
}
.c-ui__remove{
	color: #bababa;
	font-size: 24px;
	height: 33px;
	line-height: 33px;
	vertical-align: middle;

	&:hover{
		cursor: pointer;
		opacity: 0.5;
	}
}
.c-ui__radio.is-disabled{
	color: #bbb;

	.c-ui__radioIcon{
		background: linear-gradient(to left, #f9f9f9, #fefffe);
		border: solid 1px #bbb;
	}
}
//
// Vertical Table
//
.c-vtc-table{
	width: 600px;
	box-sizing: border-box;
	margin: 0 auto;	
}
.c-vtc-table__head{	
	background: #4bbe00;
	color: #FFF;	
	padding: 14px 7px 13px 7px;
	box-sizing: border-box;
	width: 140px;
	line-height: 1;
	font-size: 12px;
	text-align: left;
	border: solid 1px #399000;
	vertical-align: middle;
}		
.c-vtc-table__body{	
	background: #FFF;
	width: 460px;
	color: #333;
	padding: 3px 2px;
	box-sizing: border-box;
	border: solid 1px #999999;
	font-size: 12px;		
	vertical-align: middle;
}
.c-vtc-table__body[data-colname="dtl-entry-type"]{
	padding: 2px;
}
.c-vtc-table__body[data-colname="dtl-entry-date"]{
	padding: 0 6px;
}
.c-vtc-table__body[data-colname="dtl-user-address"]{
	padding: 5px 2px 3px 6px;
}
.c-vtc-table__body[data-colname="dtl-user-address"] .c-ui__pulldown select{
	width: 150px;
}
.c-vtc-table__body[data-colname="dtl-user-address"] span{
	height: 33px;
	line-height: 33px;
	padding-right: 10px;
}
.c-vtc-table__body[data-colname="dtl-user-address"] span:nth-of-type(2){
	padding-left: 7px;
}
.c-vtc-table__body[data-colname="dtl-user-address"] .u-row span{
	min-width: 5em;
}
.c-vtc-table__body[data-colname="dtl-user-age"] span{
	margin-left: 0.5em;
}
.c-vtc-table__body[data-colname="dtl-dmflag"]{
	padding: 0 5px 0 10px;
}
.c-vtc-table__body .c-ui__freeword{
	width: 100%;
}
.c-vtc-table__body[date-colname="dtl-history"]{
	padding: 7px 6px;
}


.c-vtc-table__head[data-colname="mail_content"],
.c-vtc-table__head[data-colname="confirm_mail_content"],
.c-vtc-table__body[data-colname="confirm_mail_content"],
.c-vtc-table__head[data-colname="confirm_content"],
.c-vtc-table__body[data-colname="confirm_content"]{
	vertical-align: top;
}
.c-vtc-table__body[data-colname="sendto"],
.c-vtc-table__body[data-colname="inquiry_title"],
.c-vtc-table__body[data-colname="inquiry_content"],
.c-vtc-table__body[data-colname="licence_type"],
.c-vtc-table__body[data-colname="confirm_mail_title"],
.c-vtc-table__body[data-colname="confirm_mail_content"],
.c-vtc-table__body[data-colname="confirm_content"]{
	padding: 10px 7px;	
}
.c-vtc-table__body[data-colname="confirm_content"],
.c-vtc-table__body[data-colname="confirm_mail_content"]{	
	height: 332px;
	overflow: auto;
}

//
// Overlay
//
.c-ui__overlay{
	position: fixed;	
	top: 0;
	left: 0;
	// overflow: auto;
	z-index: 20;
	width: calc(100% - 195px);
	padding-left: 195px;
	height: 100%;	
	background: rgba(0, 0, 0, 0.6);
}
.c-ui__overlay.is-close{
	display: none;
}
.c-ui__overlay.is-alert-layer{
	z-index: 21;
	display: none;
}
.c-ui__overlay.is-select-layer{
	z-index: 22;
	display: none;
}
.c-ui__overlay.is-alert-layer.is-sending{
	background:rgba(0,0,0,0.15);	
}
//
// AlertBox
//
.c-alert-box{
	width: 220px;
	min-height: 85px;
	margin: 20% auto;
	background: #FFF;
	border-radius: 5px;
	text-align: center;
	padding: 15px 5px;
	box-sizing: border-box;
}
.c-alert-box__content{
	white-space: pre-wrap;
	font-size: 12px;
	color: #333;
	margin-bottom: 10px;
	line-height: 1.4;
}
.c-alert-box input[type="radio"]{
	display: none;
}
//
// history
//
.c-history {
	display: flex;
	align-items: center;
	padding: 2px 4px;
}
.c-history__icon{
	box-sizing: border-box;
	display: inline-block;
	width: 90px;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	padding: 0 6px;
	border-radius: 5px;
	margin-right: 5px;
}
.c-history[data-history-type="memo"] .c-history__icon{
	background: #fff7d4;
	color: #333;
	border: solid 1px #dccb86;
}
.c-history[data-history-type="send_brochure"] .c-history__icon,
.c-history[data-history-type="send_campaign"] .c-history__icon,
.c-history[data-history-type="reply_to_inquiry"] .c-history__icon,
.c-history[data-history-type="reply_to_tmp_entering"] .c-history__icon,
.c-history[data-history-type="general_mail"] .c-history__icon,
.c-history[data-history-type="auto_sending"] .c-history__icon{
	background: #cff3fd;
	color: #0098c1;
	border: solid 1px #68c5e5;
}
.c-history[data-history-type="inquiry"] .c-history__icon,
.c-history[data-history-type="brochure"] .c-history__icon,
.c-history[data-history-type="tmp_entering"] .c-history__icon,
.c-history[data-history-type="received_mail"] .c-history__icon{
	background: #ffe2e9;
	border: solid 1px #e82502;
	color: #e82503;
}
.c-history__icon i {
	margin-right: 0.5em;
}
.c-history__time{
	margin-right: 1.5em;
}
.c-history__summary a {
	color: #008bff;
	text-decoration: none;
}
//
// Loading
//
.c-loading__outer-wrapper{
	width:inherit;
}
.c-loading__inner-wrapper{
	display:block;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	padding-left:195px;
	margin:15% auto;
}
.c-loading__text{
	color:#FFF;
	text-align:center;
}