<docs>
	検索条件を設定するためのChild Componentです。

	対応状況・車種についてはpulldown変更に基づき、v-modelで2-way bindingに検索可能です。
	フリーワードのみ、「検索」ボタンを押下しないとデータは更新されません。
	（Too Many Request Exceptionを回避するため）

	一括ボタンはこのComponent内では実行せず、カスタムイベントをParent Componentへ発行します
</docs>

<template lang="pug">
	.p-list__form
		.u-row1
			.p-list__form-select
				span.p-list__form-label 対応状況
				.u-posrel
					.c-ui__pulldown
						select(v-model="condition.react_status")
							option(value="") すべて
							option(v-for="(value,key) in status_types_map"  :value="key") {{ value }}
			.p-list__form-select(data-type="car-type")
				span.p-list__form-label 車種
				.u-posrel
					.c-ui__pulldown
						select(v-model="condition.licence_type")
							option(value="") すべて
							option(v-for="(value,key) in licence_types_map"  :value="key") {{ value }}
		.u-row2
			.p-list__form-keyword
				span.p-list__form-label フリーワード
				input.c-ui__freeword(type="text" placeholder="氏名・電話番号などで検索できます。" v-model="alias_freeword"  @keyup.enter="submit")
			.p-list__form-submit
				input.c-ui__submit(type="button" value="検索" @click.prevent="submit")
				i.fa.fa-search
			.p-list__form-exclude-btn
				label.p-list__form-label
					input.c-ui__checkbox(type="checkbox" v-model="condition.need_no_action")
					span.c-ui__checkboxIcon
					| 対応不要を表示
		.u-row3
			span.c-ui__basicbutton.c-ui__filebutton(@click.prevent="sendMailToWhiteList" style="color:#000;")
				i.fa.fa-check-square
				| チェックをつけたユーザーに一括送信			
			a.c-ui__basicbutton.c-ui__filebutton(@click.prevent="downloadCsv"  style="color:#000;" v-if="role_csv")
				i.fa.fa-arrow-circle-down
				| CSVダウンロード
			.p-list__form-results
				|合計
				span {{ counts.toLocaleString() }}
				|件の検索結果
</template>

<script>
	// Vue Component
	import DatePicker from 'vuejs-datepicker'

	/**
	 * Mixin
	 *	
	 * common_dynamic_property.js
	 *     + entry_types_map
	 *     + licence_types_map
	 *     + status_types_map
	 *
	 * download_csv
	 *     - downloadCsv
	 *
	 */	
	import common_dynamic_property from '../../../mixin/common_dynamic_property'
	import download_csv from '../../../mixin/download_csv'

	export default {
		components : {
			DatePicker
		},
		props : ["counts","condition","freeword"],
		mixins : [common_dynamic_property,
				  download_csv],
		data(){
			return{
				alias_freeword  : "",  // Propsのデータを直接変更できないのでaliasと$emit('update:freeword')を経由してupdateする
			}
		},
		computed: {
			role_csv(){
				return this.$store.state.role_csv;
			}
		},
		watch : {
			alias_freeword : {
				handler : function(newValue){
					this.$emit('update:freeword',newValue);
				}
			}			
		},
		methods : {
			/***************************************
			 * EventHandler
			 **************************************/			
			submit(){
				this.$emit('submit');
			},			
			sendMailToWhiteList(){
				this.$emit('sendMailToWhiteList');
			},
		}
	}
</script>